---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
    <h1 class="sr-only">Geniet met Popcorn</h1>
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 1200 1200">
        <g data-name="main">
            <circle cx="600" cy="600" r="500" fill="#fef2df"></circle>
            <path
                fill="#f15c62"
                d="m778.2 489.3-30 359.8H741l1.8-25.2a5.3 5.3 0 1 0-10.5-.8l-1.9 26h-6.8l.6-9.7a5.3 5.3 0 0 0-10.5-.6L713 849h-9.9l18-359.8h8l-.7 11.8c-.2 3 2 5.4 5 5.6h.3c2.8 0 5.1-2.1 5.3-5l.7-12.4h38.4Z"
            ></path>
            <path fill="#fcfcfc" d="m710.6 489.3-18 359.8h-44.9l6-359.8h56.9z"></path>
            <path fill="#f15c62" d="m643.1 489.3-6 359.8h-45l-6-359.8h57z"></path>
            <path
                fill="#fcfcfc"
                d="M581.5 849h-45l-6-120-12-239.8h35l.8 29.5c0 3 2.4 5.2 5.3 5.2h.1c3-.1 5.3-2.5 5.2-5.4l-.8-29.3h11.4l6 359.9Z"
            ></path>
            <path
                fill="#f15c62"
                d="M508 489.3h-57L481 849H503l-1.2-18.3c-.2-2.9 2-5.4 5-5.6 2.9-.2 5.4 2 5.6 5l1.2 18.9H526l-18-359.9Zm-11 124.2a5.3 5.3 0 0 1 10.5-.6l.5 8.8c.2 2.9-2 5.4-5 5.5h-.3a5.3 5.3 0 0 1-5.2-4.9l-.6-8.8Zm9.5 208.7h-.4a5.3 5.3 0 0 1-5.2-5l-.1-1.7c-.2-3 2-5.4 4.9-5.6 2.9-.2 5.4 2 5.6 4.9l.1 1.8c.2 2.9-2 5.4-5 5.6Zm0-135.4h-.2a5.3 5.3 0 0 1-5.3-5l-2.5-41.9c-.2-3 2-5.4 5-5.6 2.9-.1 5.4 2 5.6 5l2.5 42c.1 2.8-2.1 5.4-5 5.5Z"
            ></path>
            <path
                fill="#5b4068"
                d="M768 674.3s-41 141-293.6 154.8l1.8 24.8h275.5L768 674.3Z"
                opacity=".1"></path>
            <path
                fill="#fcfcfc"
                d="M503.3 704.4h20.3l-6.2-121.6h-18.6a17 17 0 0 0-16.9 17.8l4.5 87.7c.5 9 8 16 17 16Z"
                opacity=".2"></path>
            <path
                fill="#5b4068"
                d="M511.4 816.6c.2 2.9-2 5.4-5 5.6h-.3a5.3 5.3 0 0 1-5.2-5l-.1-1.7c-.2-3 2-5.4 4.9-5.6 2.9-.2 5.4 2 5.6 4.9l.1 1.8ZM511.6 681.2c.1 3-2.1 5.5-5 5.6h-.3a5.3 5.3 0 0 1-5.3-5l-2.5-41.9c-.2-3 2-5.4 5-5.6 2.9-.1 5.4 2 5.6 5l2.5 42ZM508 621.7c.2 2.9-2 5.4-5 5.6h-.3a5.3 5.3 0 0 1-5.2-5l-.6-8.8a5.3 5.3 0 0 1 10.6-.6l.5 8.8ZM756 467c0 1.8-1.4 3.2-3.2 3.2h-2.1c-1.8 0-3.2-1.4-3.2-3.2s1.4-3.2 3.2-3.2h2c1.9 0 3.3 1.5 3.3 3.2Z"
            ></path>
            <path
                fill="#fee996"
                d="M761 445.3c0-.6.2-1.3.4-1.9a3.3 3.3 0 0 0-2.4-4 3.4 3.4 0 0 0-4.1 2.4l-.3 1a22 22 0 0 0-.2 8.5 17.1 17.1 0 0 1-13.2-.2c-4-1.8-7.2-5-8.8-9.1-1.6-4-1.5-8.5.4-12.5 1.8-4 5.2-7.1 9.3-8.7a17.4 17.4 0 0 1 13.4.6 3.4 3.4 0 0 0 4-1.8c.7-1.7 0-3.6-1.7-4.4l-2.5-1 .2-.8c1.1-4.2 3.8-7.8 7.7-10a17 17 0 0 1 23 5.7 15.9 15.9 0 0 1-.2 17 23 23 0 0 0-2.3-.7c-1.8-.5-3.7.6-4.2 2.3a3 3 0 0 0 .4 2.5c.2.4.6.8 1 1 .3.3.6.4 1 .5a17.4 17.4 0 0 1 5.7 2.7c5.4 3.9 8.1 10.7 6.3 17.4a16.9 16.9 0 0 1-20.6 11.6 16.6 16.6 0 0 1-12.5-16.6l.2-1.6Z"
            ></path>
            <path
                fill="#e5b572"
                d="M756.9 447.5c5.8 5 15.5 12 25.3 8.7 12-4 3-23-2.3-26 12.7.7 21.3 20.2 15.1 29a21.6 21.6 0 0 1-29.6 5.4c-3.8-2.6-7-13.1-8.5-17.1ZM747.8 418.1c.3-3.1 5.1-9 7.1-11.8 6.5-9.2 20-12.4 29-5.2 14 11.4 8.4 27.8-1.3 25.8-.5 0-.6.8-.9 1.2 2.7-7.9 5.2-14.8-4-19.3-9.9-4.8-22.5 2.4-18.3 9.4 1.5 2.5-11.6-.2-11.6 0Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M756.5 457.6a23.6 23.6 0 0 0 44-4.1 22.6 22.6 0 0 0-8.6-24 22.5 22.5 0 0 0 .1-23.8 23.9 23.9 0 0 0-41.4 1.9 22.7 22.7 0 0 0-2 5.6 24 24 0 0 0-21.7 13.1l-.3.5a22.3 22.3 0 0 0-.5 17.6 23 23 0 0 0 12.4 12.8 24 24 0 0 0 18 .4Zm-24-15.6c-1.7-4-1.6-8.5.3-12.5 1.8-4 5.2-7 9.3-8.6a17.4 17.4 0 0 1 13.4.5 3.4 3.4 0 0 0 4-1.8c.7-1.7 0-3.6-1.7-4.4l-2.5-.9.2-.9c1.1-4.2 3.9-7.8 7.7-10a17 17 0 0 1 23 5.7 15.9 15.9 0 0 1-.1 17 23 23 0 0 0-2.4-.7c-1.8-.5-3.7.6-4.1 2.3a3 3 0 0 0 .3 2.5c.2.4.6.8 1 1 .3.3.6.4 1 .5a17.4 17.4 0 0 1 5.7 2.7c5.4 4 8.1 10.7 6.3 17.4a16.9 16.9 0 0 1-20.6 11.6 16.6 16.6 0 0 1-12.5-16.5 14.8 14.8 0 0 1 .6-3.5c.2-.9 0-1.8-.4-2.5a3.3 3.3 0 0 0-2-1.5 3.4 3.4 0 0 0-4.1 2.3l-.3 1a22 22 0 0 0-.2 8.6 17.1 17.1 0 0 1-13.2-.2c-4-1.8-7.2-5-8.8-9.1Z"
            ></path>
            <ellipse
                cx="746.5"
                cy="435.1"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.5"
                ry="5.1"
                transform="rotate(-82 746.5 435.1)"></ellipse>
            <path
                fill="#fee996"
                d="m567.1 424-1.7.7a3.2 3.2 0 0 0-2 4.1 3.3 3.3 0 0 0 4.2 2l1-.3c2.8-1.2 5.3-2.8 7.4-4.7a16 16 0 0 1 4.5 23c-2.5 3.6-6.4 6-10.8 6.7a17 17 0 0 1-18.6-10 15.7 15.7 0 0 1-1-3.6c-.3-.7-.7-1.3-1.3-1.7-.7-.5-1.6-.7-2.5-.5-1.8.3-3 2-2.7 3.8.1.9.3 1.7.6 2.5l-.9.3a17 17 0 0 1-12.8-.5 16.2 16.2 0 0 1 1.2-30.2c1.7-.6 3.4-1 5.1-1l.8 2.3a3.4 3.4 0 0 0 6.5-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8c-1 1-2.1 2-3.4 2.7l-1.5.8Z"
            ></path>
            <path
                fill="#e5b572"
                d="M571.4 426c.8-7.5 1.3-19.3-7-25.3-10.1-7.5-21.2 10.5-20.7 16.5-6.6-10.6 5-28.5 16-28.5a21 21 0 0 1 21.3 20.7c0 4.6-7.1 13.1-9.7 16.6ZM551.7 450c-3 1.4-10.6.8-14 .8-11.5 0-22-9-20.8-20.2 1.7-17.8 18.7-22.5 22.5-13.6.2.4 1 0 1.4 0-8.1 2.3-15.4 4.2-14 14 1.6 10.8 14.8 16.8 18.3 9.6 1.3-2.7 6.4 9.4 6.6 9.3Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M580.2 420.6a22.5 22.5 0 0 0 1.7-19.1 23.7 23.7 0 0 0-30-14 23 23 0 0 0-15.7 20.5 23.1 23.1 0 0 0-20 13.3 22.7 22.7 0 0 0 11.5 30.5 23.8 23.8 0 0 0 19.3.1 23.8 23.8 0 0 0 23.4 10.1h.5a23.5 23.5 0 0 0 15.2-9.5 22.4 22.4 0 0 0-6-32Zm.3 28.1a17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.6-.7-1.2-1.3-1.6-.7-.5-1.6-.7-2.5-.5-1.8.3-3 2-2.7 3.8.1.8.3 1.7.6 2.5l-.9.3a17 17 0 0 1-12.8-.5 16.2 16.2 0 0 1 1.2-30.2c1.7-.6 3.4-1 5.1-1l.8 2.3a3.4 3.4 0 0 0 6.5-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.7 16.2 16.2 0 0 1-6.6 4.3 3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.2 2l1-.4c2.8-1.1 5.3-2.7 7.4-4.7a16 16 0 0 1 4.5 23Z"
            ></path>
            <ellipse
                cx="566.7"
                cy="441.3"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.7"
                ry="5"
                transform="rotate(-25 566.6 441.2)"></ellipse>
            <path
                fill="#fee996"
                d="m695.7 386.3-1.9-.5c-.9-.3-1.8-.2-2.6.2-.7.4-1.4 1-1.6 2-.6 1.4.1 3 1.5 3.8l.6.2a22.3 22.3 0 0 0 9.8 1 16 16 0 0 1-1 12.9 17 17 0 0 1-31-2.6 16 16 0 0 1 1.4-13c.2-.7.2-1.4 0-2-.2-.9-.8-1.5-1.6-2a3.4 3.4 0 0 0-4.6 1.4c-.4.8-.8 1.6-1 2.4l-1-.3a16.5 16.5 0 0 1-9.8-8c-4.3-8-1-18 7.1-22.1a17 17 0 0 1 17.5 1.1l-.9 2.3c-.5 1.7.4 3.6 2.2 4.1.9.3 1.8.2 2.5-.2a3 3 0 0 0 1.2-.8l.5-1a17.5 17.5 0 0 1 3.1-5.5c4.3-5 11.4-7.2 18.1-5 8.8 2.7 13.7 12 10.8 20.6a16.4 16.4 0 0 1-13.3 11.1c-1.4.2-2.9.3-4.4.1l-1.6-.2Z"
            ></path>
            <path
                fill="#e5b572"
                d="M697.7 390.4c5.4-5.4 13.1-14.4 10.4-24.2-3.4-11.8-23.4-4.2-26.7.8 1.3-12.3 21.8-19.6 30.5-13 9.3 7 11 20 3.8 29-2.9 3.7-13.8 6.2-18 7.4ZM667.1 397.6c-3.2-.5-8.9-5.5-11.7-7.6-9-6.8-11.5-20.2-3.7-28.4 12.5-13 29-6.7 26.4 2.7-.1.4.7.5 1 .8-7.8-3-14.8-5.9-19.8 2.8-5.5 9.4 1.2 22.1 8.5 18.4 2.7-1.3-.9 11.3-.7 11.3Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M708 391.4a23.2 23.2 0 0 0 13.4-14c4-12-2.8-25-15-29a24 24 0 0 0-25.2 6.9 24 24 0 0 0-24.2-1.4 22.7 22.7 0 0 0 3.8 42.2l1.3.4a22.9 22.9 0 0 0 12.1 22l.6.2a24 24 0 0 0 31.7-9.8c3-5.6 3.4-11.9 1.6-17.5ZM690.8 414a17 17 0 0 1-21.1-10.6 16 16 0 0 1 1.3-13c.2-.7.2-1.4 0-2-.2-.8-.8-1.5-1.6-2a3.4 3.4 0 0 0-4.6 1.4c-.4.8-.8 1.6-1 2.4l-1-.3a16.5 16.5 0 0 1-9.8-8c-4.3-8-1-18 7.1-22.1a17 17 0 0 1 17.5 1.1l-.9 2.3c-.5 1.7.4 3.6 2.2 4.1.9.3 1.8.2 2.5-.2a3 3 0 0 0 1.2-.8l.5-1a17.5 17.5 0 0 1 3.1-5.5c4.3-5 11.4-7.2 18.1-5 8.8 2.7 13.7 12 10.8 20.6a16.4 16.4 0 0 1-13.3 11.1 17.3 17.3 0 0 1-7.9-.6c-.9-.3-1.8-.2-2.5.2-.8.4-1.4 1-1.7 2-.5 1.4.2 3 1.6 3.8l.5.3a22.3 22.3 0 0 0 9.8 1 16 16 0 0 1-1 12.8c-2 3.9-5.5 6.7-9.8 8Z"
            ></path>
            <ellipse
                cx="684.4"
                cy="399.8"
                fill="#fcfcfc"
                opacity=".4"
                rx="4.9"
                ry="7.7"
                transform="rotate(-80 684.5 399.8)"></ellipse>
            <path
                fill="#fee996"
                d="M623.4 337.8c-.6 0-1.3-.2-1.9-.4-.9-.3-1.8-.2-2.6.2-.7.3-1.3 1-1.6 1.9-.5 1.5.2 3.1 1.6 3.8l.5.3a22.3 22.3 0 0 0 9.8 1 16 16 0 0 1-1 12.8c-2 3.9-5.5 6.8-9.8 8a17 17 0 0 1-21-10.6 16 16 0 0 1 1.2-13c.3-.6.3-1.4 0-2-.2-.8-.8-1.5-1.6-2a3.4 3.4 0 0 0-4.5 1.5c-.5.8-.8 1.5-1.1 2.3l-1-.2a16.5 16.5 0 0 1-9.8-8c-4.3-8-1-18 7.2-22.2a17 17 0 0 1 17.5 1.2l-1 2.3c-.5 1.7.5 3.5 2.2 4.1.9.3 1.8.2 2.6-.2a3 3 0 0 0 1-.9l.7-1a17.5 17.5 0 0 1 3-5.4c4.3-5 11.4-7.2 18.2-5.1 8.8 2.8 13.6 12 10.7 20.7a16.4 16.4 0 0 1-13.3 11c-1.4.3-2.9.3-4.3.2l-1.7-.2Z"
            ></path>
            <path
                fill="#e5b572"
                d="M625.4 342c5.4-5.4 13.1-14.4 10.4-24.2-3.4-11.9-23.4-4.3-26.7.8 1.3-12.3 21.8-19.6 30.5-13.1 9.3 7 11 20 3.8 29.1-2.8 3.6-13.8 6.2-18 7.4ZM594.8 349.2c-3.2-.5-8.9-5.5-11.6-7.6-9.1-6.9-11.6-20.3-3.8-28.5 12.5-13 29-6.6 26.4 2.7 0 .4.8.6 1.1.9-7.9-3-14.8-5.9-19.9 2.8-5.5 9.4 1.2 22 8.6 18.4 2.6-1.4-1 11.2-.8 11.3Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M635.8 343a23.2 23.2 0 0 0 13.3-14.1c4-12-2.7-25-15-29a24 24 0 0 0-25.2 7 24 24 0 0 0-24.2-1.4 22.7 22.7 0 0 0 3.8 42.1l1.4.4a22.9 22.9 0 0 0 12.1 22l.5.2a24 24 0 0 0 31.8-9.8c3-5.6 3.3-11.8 1.5-17.4Zm-17.4 22.5a17 17 0 0 1-21-10.7 16 16 0 0 1 1.2-13c.3-.6.3-1.4 0-2-.2-.8-.8-1.5-1.6-2a3.4 3.4 0 0 0-4.5 1.5c-.5.8-.8 1.5-1.1 2.3l-1-.2a16.5 16.5 0 0 1-9.8-8c-4.3-8-1-18 7.2-22.2a17 17 0 0 1 17.5 1.2l-1 2.3c-.5 1.7.5 3.5 2.2 4 .9.4 1.8.3 2.6-.1a3 3 0 0 0 1-.9l.7-1a17.5 17.5 0 0 1 3-5.4c4.3-5 11.4-7.3 18.2-5.1 8.8 2.8 13.6 12 10.7 20.6a16.4 16.4 0 0 1-13.3 11.2 17.3 17.3 0 0 1-7.9-.6c-.8-.3-1.8-.2-2.5.2a3.2 3.2 0 0 0 0 5.8l.5.2a22.3 22.3 0 0 0 9.8 1 16 16 0 0 1-1 12.8c-2 4-5.6 6.8-9.9 8.1Z"
            ></path>
            <ellipse
                cx="612.1"
                cy="351.4"
                fill="#fcfcfc"
                opacity=".4"
                rx="4.9"
                ry="7.7"
                transform="rotate(-80 612.2 351.3)"></ellipse>
            <path
                fill="#fee996"
                d="m755.4 399.2-2-.5c-.8-.3-1.7-.2-2.5.2s-1.4 1-1.7 2c-.5 1.4.2 3 1.6 3.8l.6.2a22.3 22.3 0 0 0 9.8 1 16 16 0 0 1-1 12.9 17 17 0 0 1-31-2.6 16 16 0 0 1 1.4-13c.2-.7.2-1.4 0-2-.3-.8-.8-1.5-1.6-2a3.4 3.4 0 0 0-4.6 1.4c-.4.8-.8 1.6-1 2.4l-1-.3a16.5 16.5 0 0 1-9.8-8c-4.3-8-1.1-18 7.1-22.1a17 17 0 0 1 17.5 1.1l-.9 2.3c-.5 1.7.4 3.6 2.2 4.1.9.3 1.8.2 2.5-.2a3 3 0 0 0 1.1-.8c.3-.3.5-.7.6-1a17.5 17.5 0 0 1 3-5.5c4.4-5 11.5-7.2 18.2-5 8.8 2.7 13.7 12 10.8 20.6a16.4 16.4 0 0 1-13.3 11.1c-1.4.2-3 .3-4.4.1l-1.6-.2Z"
            ></path>
            <path
                fill="#e5b572"
                d="M757.4 403.3c5.4-5.4 13.1-14.4 10.4-24.2-3.4-11.9-23.4-4.3-26.8.8 1.4-12.3 21.8-19.6 30.5-13 9.3 7 11 20 3.9 29-2.9 3.7-13.8 6.2-18 7.4ZM726.8 410.5c-3.2-.5-9-5.5-11.7-7.6-9-6.8-11.6-20.2-3.7-28.4 12.5-13 29-6.7 26.4 2.7-.1.4.7.5 1 .8-7.8-3-14.8-5.9-19.8 2.8-5.5 9.4 1.2 22 8.5 18.4 2.7-1.3-.9 11.3-.7 11.3Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M767.7 404.3a23.2 23.2 0 0 0 13.4-14c4-12-2.8-25-15.1-29a24 24 0 0 0-25.1 6.9 24 24 0 0 0-24.2-1.4 22.7 22.7 0 0 0 3.7 42.2l1.4.4a22.9 22.9 0 0 0 12.1 22l.6.2a24 24 0 0 0 31.7-9.8c3-5.6 3.4-11.9 1.5-17.5Zm-17.3 22.5a17 17 0 0 1-21.1-10.6 16 16 0 0 1 1.3-13c.2-.7.2-1.4 0-2-.3-.8-.8-1.5-1.6-2a3.4 3.4 0 0 0-4.6 1.4c-.4.8-.8 1.6-1 2.4l-1-.3a16.5 16.5 0 0 1-9.8-8c-4.3-8-1.1-18 7.1-22.1a17 17 0 0 1 17.5 1.1l-.9 2.3c-.5 1.7.4 3.6 2.2 4.1.9.3 1.8.2 2.5-.2a3 3 0 0 0 1.1-.8c.3-.3.5-.7.6-1a17.5 17.5 0 0 1 3-5.5c4.4-5 11.5-7.2 18.2-5 8.8 2.7 13.7 12 10.8 20.6a16.4 16.4 0 0 1-13.3 11.1 17.3 17.3 0 0 1-7.9-.6c-.9-.3-1.8-.2-2.6.2-.7.4-1.3 1-1.6 2-.6 1.4.1 3 1.5 3.8l.6.3a22.3 22.3 0 0 0 9.8 1 16 16 0 0 1-1 12.8c-2 3.9-5.5 6.7-9.8 8Z"
            ></path>
            <ellipse
                cx="744.1"
                cy="412.7"
                fill="#fcfcfc"
                opacity=".4"
                rx="4.9"
                ry="7.7"
                transform="rotate(-80 744.2 412.7)"></ellipse>
            <path
                fill="#fee996"
                d="m559.8 334.2-1.6.7c-.8.2-1.3.8-1.6 1.4-.3.7-.4 1.5 0 2.2.5 1.3 2 2 3.4 1.7l.6-.1.9-.3c2.5-1 4.7-2.5 6.5-4.2 3.5 1.9 6.2 5 7.2 9 .9 3.7.2 7.4-2 10.6a15 15 0 0 1-9.6 6 16.7 16.7 0 0 1-15.9-5.6 14.5 14.5 0 0 1-2.7-5.6c-.3-.6-.7-1-1.2-1.4-.7-.4-1.5-.5-2.4-.4-1.6.3-2.7 1.8-2.3 3.3l.7 2.2c-.3 0-.5.2-.8.3-3.7 1.4-8 1.3-11.7-.2-8-3-11.7-11.3-8.5-18.4 1.5-3.5 4.5-6.1 8.2-7.5 1.5-.6 3.1-1 4.7-1l.8 2a3.2 3.2 0 0 0 4 1.6 2.8 2.8 0 0 0 1.9-2.7c0-.3 0-.6-.2-1a14.2 14.2 0 0 1-1.2-5.2c0-5.6 3.6-10.8 9.6-13 7.8-2.8 16.8.8 20 8a12.8 12.8 0 0 1-2.5 14.5c-.8.9-1.8 1.7-3 2.4l-1.3.7Z"
            ></path>
            <path
                fill="#e5b572"
                d="M563.8 335.8c.4-6.4.4-16.5-7.5-21.5-9.6-6.1-19 9.6-18.2 14.7-6.5-9 3.3-24.6 13.3-24.9 10.8-.3 20 7.5 20.4 17.3.2 4-5.8 11.4-8 14.4ZM546.8 356.9c-2.6 1.3-9.6 1-12.8 1.1-10.5.3-20.4-7.3-19.9-16.9.8-15.3 16.2-19.8 20-12.2.2.3 1 0 1.3 0-7.3 2.2-13.9 4-12.2 12.4 2 9.1 14.3 14 17.2 7.7 1-2.3 6.2 8 6.4 7.9Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M571.6 331c2.7-4.9 3.2-10.8.7-16.4a22.7 22.7 0 0 0-28.1-11.2 19.4 19.4 0 0 0-13.4 17.9c-2 .2-4.2.6-6.2 1.3a20 20 0 0 0-11.6 10.6c-4.4 10 .9 21.6 12 25.9a23.3 23.3 0 0 0 17.6-.4 23.3 23.3 0 0 0 21.8 8.1h.6a21 21 0 0 0 13.4-8.5c3-4.5 4-9.7 2.8-14.9a20.2 20.2 0 0 0-9.6-12.4Zm1.6 24.2a15 15 0 0 1-9.6 6 16.7 16.7 0 0 1-15.9-5.6 14.5 14.5 0 0 1-2.7-5.6c-.3-.6-.7-1-1.2-1.4-.7-.4-1.5-.5-2.4-.4-1.6.3-2.7 1.8-2.3 3.4l.7 2-.8.4c-3.8 1.4-8 1.3-11.8-.1-7.8-3-11.6-11.4-8.4-18.5 1.5-3.5 4.4-6.1 8.2-7.5 1.5-.6 3-1 4.7-1l.7 2a3.2 3.2 0 0 0 4 1.6 2.8 2.8 0 0 0 2-2.7l-.3-1a14.2 14.2 0 0 1-1.1-5.2c0-5.6 3.5-10.8 9.5-13 7.9-2.8 17 .8 20.1 8a12.8 12.8 0 0 1-2.5 14.5 14.6 14.6 0 0 1-5.9 3.8c-.8.2-1.3.8-1.6 1.5-.3.6-.4 1.4 0 2.1.5 1.3 2 2 3.4 1.7h.6l.9-.4c2.5-1 4.7-2.5 6.5-4.2 3.5 2 6.2 5.1 7.2 9 .9 3.7.2 7.4-2 10.6Z"
            ></path>
            <ellipse
                cx="560.2"
                cy="349.1"
                fill="#fcfcfc"
                opacity=".4"
                rx="6.9"
                ry="4.3"
                transform="rotate(-23 560.2 349.1)"></ellipse>
            <path
                fill="#fee996"
                d="m710.9 326.4-1.6.7c-.8.3-1.4.8-1.7 1.5-.3.7-.3 1.4 0 2.2.6 1.2 2 2 3.5 1.7l.5-.1.9-.4c2.5-1 4.7-2.4 6.6-4.2 3.4 2 6.1 5.2 7 9 1 3.7.3 7.5-1.9 10.6a15 15 0 0 1-9.6 6.1 16.7 16.7 0 0 1-15.9-5.6 14.5 14.5 0 0 1-2.7-5.6c-.2-.6-.7-1.1-1.2-1.4-.7-.4-1.5-.6-2.3-.4-1.7.3-2.7 1.8-2.3 3.3l.6 2.1-.7.3c-3.8 1.4-8 1.4-11.8 0-7.9-3.1-11.7-11.4-8.5-18.5 1.5-3.5 4.5-6.2 8.3-7.6 1.5-.5 3-.9 4.6-1l.8 2a3.2 3.2 0 0 0 4 1.7 2.8 2.8 0 0 0 2-2.7l-.3-1a14.2 14.2 0 0 1-1.2-5.2c0-5.6 3.6-10.9 9.6-13 7.8-2.8 16.9.8 20 8a12.8 12.8 0 0 1-2.4 14.4c-.9 1-1.9 1.8-3 2.4l-1.3.8Z"
            ></path>
            <path
                fill="#e5b572"
                d="M714.8 328.1c.5-6.4.4-16.5-7.5-21.5-9.6-6.1-19 9.5-18.2 14.7-6.5-9 3.3-24.6 13.4-24.9 10.7-.3 19.9 7.5 20.4 17.3.2 4-6 11.4-8.1 14.4ZM697.9 349.1c-2.6 1.4-9.6 1-12.8 1.2-10.5.2-20.4-7.3-20-17 .8-15.2 16.2-19.7 20.1-12.2.2.4.9 0 1.3 0-7.3 2.2-14 4-12.2 12.5 1.9 9 14.3 14 17.2 7.6 1-2.3 6.2 8 6.3 8Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M722.6 323.3c2.8-5 3.2-10.9.8-16.4a22.7 22.7 0 0 0-28.2-11.3 19.4 19.4 0 0 0-13.3 18c-2.1.1-4.2.6-6.2 1.3a20 20 0 0 0-11.6 10.5c-4.5 10 .8 21.7 11.9 26a23.3 23.3 0 0 0 17.7-.4c1.6 2 3.6 3.9 6 5.3a23.3 23.3 0 0 0 15.8 2.8h.5a21 21 0 0 0 13.4-8.6c3.1-4.4 4-9.6 2.8-14.8a20.2 20.2 0 0 0-9.6-12.4Zm1.6 24.1a15 15 0 0 1-9.6 6.1 16.7 16.7 0 0 1-15.9-5.6 14.5 14.5 0 0 1-2.7-5.6c-.2-.6-.7-1.1-1.2-1.4-.7-.4-1.5-.6-2.3-.4-1.7.3-2.7 1.8-2.4 3.3l.7 2.1-.7.3c-3.8 1.4-8 1.4-11.8 0-7.9-3.1-11.7-11.4-8.5-18.5 1.5-3.5 4.5-6.2 8.3-7.6 1.5-.5 3-.9 4.6-1l.8 2a3.2 3.2 0 0 0 4 1.7 2.8 2.8 0 0 0 2-2.7l-.3-1a14.2 14.2 0 0 1-1.2-5.2c0-5.6 3.6-10.9 9.6-13 7.8-2.8 16.9.8 20 8a12.8 12.8 0 0 1-2.5 14.4 14.6 14.6 0 0 1-5.8 3.8c-.8.3-1.4.9-1.7 1.5-.3.7-.3 1.4 0 2.2.6 1.2 2 2 3.5 1.7l.5-.1 1-.4c2.4-1 4.6-2.4 6.5-4.2 3.4 2 6.1 5.2 7.1 9 1 3.7.2 7.5-2 10.7Z"
            ></path>
            <ellipse
                cx="711.2"
                cy="341.4"
                fill="#fcfcfc"
                opacity=".4"
                rx="6.9"
                ry="4.3"
                transform="rotate(-23 711.2 341.4)"></ellipse>
            <path
                fill="#fee996"
                d="M536.6 360.8c-.3.6-.8 1.1-1.2 1.7-.6.8-.9 1.7-.8 2.6.1 1 .6 1.8 1.4 2.4a3.7 3.7 0 0 0 5.2-.6l.7-.9c2-2.6 3.3-5.5 4-8.5 4.9 0 9.7 2 13.2 5.8a17.6 17.6 0 0 1-1.2 25.3 18.5 18.5 0 0 1-20 3.2 19 19 0 0 1-6.4-4.7c-.7-.5-1.4-.8-2.2-.8-1 0-1.9.3-2.6 1a3.5 3.5 0 0 0-.3 5l2 2-.5.8c-3 3.8-7.4 6.2-12.2 6.8a18.3 18.3 0 0 1-20.6-15.5 17.5 17.5 0 0 1 7.8-17l2 1.7c1.7 1.2 4 1 5.2-.6.7-.8 1-1.7.8-2.6a3.4 3.4 0 0 0-1.4-2.4 20.4 20.4 0 0 1-4.5-5.2 17.6 17.6 0 0 1 1.5-20 18.7 18.7 0 0 1 25.8-3 17.7 17.7 0 0 1 5.2 22l-.9 1.5Z"
            ></path>
            <path
                fill="#e5b572"
                d="M541.7 360.3c-3.6-7.4-10.2-18.6-21.5-19.5-13.8-1.1-13.4 21.8-9.3 27-12.5-6-12.5-29.2-2.3-35.4 11-6.7 25.3-3.5 32.2 7.1 2.7 4.3 1.3 16.2 1 20.8ZM537.8 393.7c-1.8 3-9.2 6.8-12.5 8.8-10.6 6.5-25.7 4-31.4-7-9-17.4 4-31.5 12.8-25.4.4.2 1-.6 1.4-.8-6.2 6.8-11.9 12.7-4.6 21 7.8 9 23.7 7.2 22.6-1.6-.4-3.2 11.5 5.2 11.7 5Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M546.7 350.3a25 25 0 0 0-9.8-18.7 26.3 26.3 0 0 0-36.2 4.2 24.6 24.6 0 0 0-2.3 27.8c-2 1.4-4 3.2-5.5 5.2-4.2 5.3-6 11.9-5.1 18.5a25.7 25.7 0 0 0 28.8 21.8 25.7 25.7 0 0 0 18-10.9 26.4 26.4 0 0 0 27.8-3.8l.4-.4a24.7 24.7 0 0 0 1.7-35.5 25.9 25.9 0 0 0-17.8-8.2Zm17.2 26c-.3 4.7-2.4 9.1-6 12.3a18.5 18.5 0 0 1-20 3.2 19 19 0 0 1-6.4-4.7c-.7-.5-1.4-.8-2.2-.8-1 0-1.9.3-2.6 1a3.5 3.5 0 0 0-.3 5l2 2-.5.8c-3 3.8-7.4 6.2-12.2 6.8a18.3 18.3 0 0 1-20.6-15.5 17.5 17.5 0 0 1 7.8-17l2 1.7c1.7 1.2 4 1 5.2-.6.7-.8 1-1.7.8-2.6a3.4 3.4 0 0 0-1.4-2.4 20.4 20.4 0 0 1-4.5-5.2 17.6 17.6 0 0 1 1.5-20 18.7 18.7 0 0 1 25.8-3 17.7 17.7 0 0 1 3.1 25.2c-.6.8-.9 1.7-.8 2.6.1 1 .6 1.8 1.4 2.4a3.7 3.7 0 0 0 5.2-.6l.7-.9c2-2.6 3.3-5.5 4-8.5 4.9.1 9.7 2 13.2 5.8 3.3 3.6 5 8.1 4.8 13Z"
            ></path>
            <ellipse
                cx="546.6"
                cy="377.2"
                fill="#fcfcfc"
                opacity=".4"
                rx="8.3"
                ry="5.5"
                transform="rotate(-57 546.6 377.2)"></ellipse>
            <path
                fill="#fee996"
                d="m498.4 399.3.3-1.8c.3-1 .1-1.8-.3-2.5a3.3 3.3 0 0 0-2-1.5 3.4 3.4 0 0 0-4.2 2.3l-.2 1a22 22 0 0 0-.2 8.6 17.1 17.1 0 0 1-13.2-.2c-4.1-1.8-7.2-5-8.8-9.2-1.6-4-1.5-8.5.3-12.5 1.9-4 5.2-7 9.4-8.6a17.4 17.4 0 0 1 13.3.5 3.4 3.4 0 0 0 4-1.8c.8-1.7 0-3.6-1.7-4.4l-2.4-.9c0-.3 0-.6.2-.9 1-4.2 3.8-7.8 7.7-10a17 17 0 0 1 23 5.7 15.9 15.9 0 0 1-.2 17 23 23 0 0 0-2.4-.7c-1.8-.4-3.6.6-4.1 2.3a3 3 0 0 0 .4 2.5c.2.4.5.8.9 1 .3.3.7.5 1 .6a17.4 17.4 0 0 1 5.8 2.6c5.4 4 8 10.7 6.2 17.4a16.9 16.9 0 0 1-20.5 11.7 16.6 16.6 0 0 1-12.5-16.6l.2-1.6Z"
            ></path>
            <path
                fill="#e5b572"
                d="M494.2 401.5c5.8 5 15.5 12 25.4 8.7 12-4 3-23-2.3-26 12.7.7 21.3 20.2 15 29a21.6 21.6 0 0 1-29.5 5.4c-3.9-2.6-7.1-13-8.6-17ZM485.1 372.1c.4-3.1 5.2-9 7.2-11.7 6.4-9.3 20-12.5 28.9-5.3 14 11.4 8.4 27.8-1.3 25.9-.4-.1-.5.7-.8 1 2.6-7.8 5.2-14.7-4-19.1-10-4.8-22.5 2.4-18.4 9.3 1.6 2.6-11.5-.2-11.6 0Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M493.8 411.6a23.6 23.6 0 0 0 44-4.1 22.6 22.6 0 0 0-8.5-24 22.5 22.5 0 0 0 .1-23.7 23.9 23.9 0 0 0-41.5 1.8 22.7 22.7 0 0 0-1.9 5.7 24 24 0 0 0-21.8 13l-.2.5a22.3 22.3 0 0 0-.5 17.6 23 23 0 0 0 12.3 12.8 24 24 0 0 0 18 .5Zm-24-15.6c-1.6-4-1.5-8.5.3-12.5 1.9-4 5.2-7 9.4-8.6a17.4 17.4 0 0 1 13.3.5 3.4 3.4 0 0 0 4-1.8c.8-1.7 0-3.6-1.7-4.4l-2.4-.9c0-.3 0-.6.2-.9 1-4.2 3.8-7.8 7.7-10a17 17 0 0 1 23 5.7 15.9 15.9 0 0 1-.2 17 23 23 0 0 0-2.4-.7c-1.8-.4-3.6.6-4 2.4a3 3 0 0 0 .3 2.4c.2.4.5.8 1 1 .2.3.6.5 1 .6a17.4 17.4 0 0 1 5.7 2.6c5.4 4 8 10.7 6.3 17.4a16.9 16.9 0 0 1-20.6 11.7 16.6 16.6 0 0 1-12.5-16.6 14.8 14.8 0 0 1 .5-3.5c.3-.9.1-1.8-.3-2.5a3.3 3.3 0 0 0-2-1.5 3.4 3.4 0 0 0-4.1 2.3l-.3 1a22 22 0 0 0-.2 8.6 17.1 17.1 0 0 1-13.2-.2c-4.1-1.8-7.2-5-8.8-9.1Z"
            ></path>
            <ellipse
                cx="483.9"
                cy="389.1"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.5"
                ry="5.1"
                transform="rotate(-82 483.9 389.1)"></ellipse>
            <path
                fill="#fee996"
                d="m644.6 382.8-1 1.5c-.7.7-.9 1.6-.8 2.4.1.9.5 1.6 1.3 2.2a3.4 3.4 0 0 0 4.7-.5 22.2 22.2 0 0 0 4.4-8.6c4.4 0 8.7 1.8 12 5.3a16 16 0 0 1-1.1 23.1 17 17 0 0 1-21.3 1.1 17 17 0 0 1-2.9-2.5c-.5-.4-1.2-.7-2-.7s-1.6.2-2.3.8a3.2 3.2 0 0 0-.3 4.7l2 1.8-.6.7a16.8 16.8 0 0 1-11.2 6.2 16.7 16.7 0 0 1-18.8-14.1 16 16 0 0 1 7.1-15.6l2 1.6c1.4 1.1 3.5.9 4.7-.6.5-.7.8-1.5.6-2.4 0-.4-.2-.9-.4-1.3l-.8-.9a17.7 17.7 0 0 1-4.1-4.6A16 16 0 0 1 617 364a17.1 17.1 0 0 1 23.6-2.7 16.2 16.2 0 0 1 4.8 20l-.9 1.4Z"
            ></path>
            <path
                fill="#e5b572"
                d="M649.3 382.3c-3.3-6.8-9.3-17-19.7-17.8-12.6-1-12.2 20-8.5 24.7-11.3-5.5-11.3-26.7-2-32.4 10-6.1 23.1-3.2 29.4 6.5 2.4 3.9 1.1 14.8.8 19ZM645.7 412.8c-1.6 2.8-8.4 6.2-11.4 8-9.7 6-23.5 3.7-28.6-6.3-8.2-16 3.6-28.8 11.7-23.3.4.3.8-.4 1.2-.7-5.7 6.2-10.8 11.6-4.2 19.2 7.1 8.3 21.6 6.6 20.7-1.4-.4-3 10.5 4.6 10.6 4.5Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M653.8 373.2a22.8 22.8 0 0 0-8.9-17 24 24 0 0 0-33 3.8c-6.1 7.4-6.6 17.5-2.1 25.3A23 23 0 0 0 600 407a23.4 23.4 0 0 0 26.4 19.8 23.5 23.5 0 0 0 16.4-9.8 23.9 23.9 0 0 0 25.4-3.6l.4-.3a22.6 22.6 0 0 0 1.5-32.5 23.6 23.6 0 0 0-16.2-7.4Zm15.7 23.7a16 16 0 0 1-5.4 11.3 17 17 0 0 1-21.3 1.1 17 17 0 0 1-2.8-2.5c-.6-.4-1.3-.7-2-.7-.9 0-1.7.2-2.4.8a3.2 3.2 0 0 0-.2 4.7l1.8 1.8-.5.7a16.8 16.8 0 0 1-11.2 6.2 16.7 16.7 0 0 1-18.8-14.1 16 16 0 0 1 7.1-15.6l2 1.6c1.4 1 3.5.8 4.7-.6.5-.7.8-1.6.7-2.4 0-.5-.2-1-.5-1.3l-.8-.9a17.7 17.7 0 0 1-4.1-4.7A16 16 0 0 1 617 364a17.1 17.1 0 0 1 23.6-2.7 16.2 16.2 0 0 1 2.8 23c-.5.7-.8 1.6-.7 2.4.1.8.6 1.6 1.3 2.2a3.4 3.4 0 0 0 4.7-.6 22.2 22.2 0 0 0 4.4-8.6c4.4.1 8.8 2 12 5.3a16 16 0 0 1 4.3 11.8Z"
            ></path>
            <ellipse
                cx="653.8"
                cy="397.7"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.6"
                ry="5"
                transform="rotate(-57 653.8 397.7)"></ellipse>
            <path
                fill="#fee996"
                d="m588.1 393.7-1-1.6a3.4 3.4 0 0 0-4.6-1.2 3.2 3.2 0 0 0-1.3 4.5l.6.8a23 23 0 0 0 6 6.3c-1.8 4-5.1 7.3-9.6 8.9a17.1 17.1 0 0 1-12.8-.5c-4.1-1.8-7.2-5.1-8.8-9.2a16 16 0 0 1 4.2-17.6 17.2 17.2 0 0 1 6.2-3.7 3.2 3.2 0 0 0 1.6-4 3.4 3.4 0 0 0-4.4-2l-2.4 1-.5-.7a16 16 0 0 1-1.7-12.4c2.4-8.7 11.6-14 20.6-11.7a16.6 16.6 0 0 1 12 12.4l-2.2 1a3.2 3.2 0 0 0 .8 6c.5.2 1 .3 1.4.2.4 0 .8-.2 1.2-.4a18.3 18.3 0 0 1 6-2 17 17 0 0 1 16.9 8.1 16.2 16.2 0 0 1-6.3 22.4A17 17 0 0 1 589 395l-1-1.3Z"
            ></path>
            <path
                fill="#e5b572"
                d="M586.8 398.1c7.7-.4 19.6-2 24.3-11 5.7-11-14.3-18.6-20.3-17 9.5-8.2 29.7-.2 31.6 10.3 2 11.3-5.7 22-17.3 24-4.6.9-14.4-4.4-18.3-6.3ZM559.1 383.4c-2-2.5-2.7-10-3.3-13.3-2-11 5.4-22.6 16.9-23.5 18.2-1.5 26 14 17.6 19.3-.4.2.2.9.2 1.4-3.7-7.5-6.9-14.2-16.6-11-10.5 3.3-14.4 17-6.4 19.2 3 .7-8.4 7.7-8.3 7.9Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M593.7 405.6a24 24 0 0 0 19.6-1.6 22.7 22.7 0 0 0 8.8-31.3 23.7 23.7 0 0 0-23.3-11.4 23.3 23.3 0 0 0-17-17 23.6 23.6 0 0 0-28.7 16.3 22.2 22.2 0 0 0 3.2 18.6 23 23 0 0 0-5.3 7.2 22.3 22.3 0 0 0-.9 17l.2.5a23 23 0 0 0 12.2 13 24 24 0 0 0 18 .6c6.1-2.2 10.7-6.6 13.2-11.9Zm-28.4 5.3c-4-1.8-7.1-5.1-8.7-9.2a16 16 0 0 1 4.2-17.6 17.2 17.2 0 0 1 6.2-3.7 3.2 3.2 0 0 0 1.6-4 3.4 3.4 0 0 0-4.4-2l-2.4 1-.5-.7a16 16 0 0 1-1.7-12.4c2.4-8.7 11.6-14 20.5-11.7a16.6 16.6 0 0 1 12.2 12.4l-2.3 1a3.2 3.2 0 0 0 .8 6c.5.2 1 .3 1.4.2.4 0 .8-.2 1.1-.4a18.3 18.3 0 0 1 6-2 17 17 0 0 1 17 8.1 16.2 16.2 0 0 1-6.3 22.4 17 17 0 0 1-23-6.1 3.4 3.4 0 0 0-4.6-1.2 3.2 3.2 0 0 0-1.2 4.4l.5.9a23 23 0 0 0 6 6.3c-1.7 4-5 7.2-9.5 8.8a17.1 17.1 0 0 1-12.9-.5Z"
            ></path>
            <ellipse
                cx="570.5"
                cy="396.3"
                fill="#fcfcfc"
                opacity=".4"
                rx="5"
                ry="7.6"
                transform="rotate(-38 570.5 396.3)"></ellipse>
            <path
                fill="#fee996"
                d="m720.6 347.3.5 1.8c.2.9.8 1.6 1.5 2 .7.5 1.6.7 2.5.5a3.3 3.3 0 0 0 2.6-4l-.3-.9c-.8-2.9-2-5.5-3.8-7.8a17 17 0 0 1 24-1.5 16 16 0 0 1 1.2 23.2 16.6 16.6 0 0 1-11.6 5.4l-.5.1a3.3 3.3 0 0 0-2.7 3.4 3.4 3.4 0 0 0 3.5 3.1c.9 0 1.8-.1 2.6-.3l.2.9c1 4.2.3 8.7-2.1 12.4a17 17 0 0 1-23.2 5.1 16.2 16.2 0 0 1-7.8-15.3c.8 0 1.7-.2 2.5-.4 1.8-.4 3-2.1 2.6-3.9-.2-.9-.8-1.6-1.5-2-.4-.3-.9-.5-1.3-.5h-1.3a19.4 19.4 0 0 1-6.3.2c-6.6-1-12.2-6-13.7-12.7-2-8.8 3.8-17.6 12.9-19.5a17 17 0 0 1 18.9 9.2l.6 1.5Z"
            ></path>
            <path
                fill="#e5b572"
                d="M723.2 343.5c-7.5-1.8-19.4-3.8-26.6 3.5-8.8 8.8 8 21.8 14.2 22-11.6 5.1-28.4-8.4-27-19a21.2 21.2 0 0 1 23.8-18c4.7.6 12.4 8.6 15.6 11.5ZM745 365.6c1.2 3-.4 10.3-.8 13.6-1.5 11.1-12 20-23.3 17.6-17.8-4-20.5-21-11-23.6.5-.1.2-1 .3-1.4 1.3 8.2 2.3 15.5 12.5 15.4 11-.2 19-12.2 12-16.5-2.6-1.6 10.4-5 10.4-5.1Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M718.9 334.3a24 24 0 0 0-19.2-4.1 23 23 0 0 0-18 27.3c2 9.3 9.7 16 18.8 17.7a22.9 22.9 0 0 0 11 21.1 24 24 0 0 0 32.4-7.3 22.3 22.3 0 0 0 2.6-18.7 23.4 23.4 0 0 0 13.3-21.3v-.5c-.3-6.2-3-11.8-7.8-15.9a23.7 23.7 0 0 0-33.2 1.7Zm28.7 3.2a16 16 0 0 1 1.2 23.1 16.6 16.6 0 0 1-11.6 5.4l-.5.1a3.3 3.3 0 0 0-2.7 3.4 3.4 3.4 0 0 0 3.5 3c.9 0 1.8 0 2.6-.2l.2.9c1 4.2.3 8.7-2.1 12.4a17 17 0 0 1-23.2 5.1 16.2 16.2 0 0 1-7.8-15.3c.8 0 1.7-.2 2.5-.4 1.8-.4 3-2.1 2.6-3.9-.2-.9-.8-1.6-1.5-2-.4-.3-.9-.5-1.3-.5h-1.2a19.4 19.4 0 0 1-6.4.2c-6.6-1.1-12.1-6-13.6-12.7-2-8.8 3.7-17.6 12.8-19.5a17 17 0 0 1 19.5 10.7l.5 1.8c.2.9.8 1.6 1.5 2 .7.5 1.6.7 2.5.5a3.3 3.3 0 0 0 2.6-3.9l-.3-1c-.7-2.9-2-5.5-3.8-7.7a17 17 0 0 1 24-1.5Z"
            ></path>
            <ellipse
                cx="738.2"
                cy="349.9"
                fill="#fcfcfc"
                opacity=".4"
                rx="5"
                ry="7.5"
                transform="rotate(-21 738.4 350)"></ellipse>
            <path
                fill="#fee996"
                d="M623.4 440.4a15 15 0 0 1-1.8-.9c-.8-.5-1.7-.5-2.5-.3a3 3 0 0 0-2 1.6 3.4 3.4 0 0 0 1 4.1l.6.4 1 .5c2.7 1.4 5.6 2.2 8.4 2.5a15.3 15.3 0 0 1-13.6 18.6c-4.4.5-8.8-.8-12.4-3.7a17.8 17.8 0 0 1-6.5-17.4 16.2 16.2 0 0 1 3-6.4c.3-.7.4-1.4.3-2-.1-.9-.6-1.7-1.3-2.3-1.5-1.2-3.6-1-4.7.5l-1.4 2c-.3 0-.6-.2-.8-.3a18 18 0 0 1-8.5-10c-3-8.9 1.5-18.1 10.2-20.6 4.2-1.3 8.7-.7 12.7 1.4 1.6.9 3 2 4.2 3.2l-1.2 2.1a3.5 3.5 0 0 0 1.5 4.6c.9.5 1.8.5 2.6.3a3 3 0 0 0 2-1.5 17 17 0 0 1 3.7-4.8c4.9-4.1 12.2-5 18.5-1.4a17.4 17.4 0 0 1 7.5 22.7 15.1 15.1 0 0 1-11.1 8.2c-1.2.2-2.4.3-3.5.2-1.5 0-3-.3-4.3-.7l-1.6-.6Z"
            ></path>
            <path
                fill="#e5b572"
                d="M624.8 444.9c6-4.3 14.9-11.7 13.6-22-1.6-12.5-22.3-9-26.3-4.6 3.2-12 24.2-15.2 31.8-6.9 8 8.9 7.9 22.2-.5 29.8-3.3 3-14.4 3.3-18.6 3.7ZM593.8 446c-3-1.3-8-7.4-10.3-10-8-8.7-8.4-22.5.4-29 14.2-10.5 29.3-.9 25.5 7.9-.2.4.6.7 1 1-7.4-4.5-13.8-8.8-20-1.1-6.7 8.2-2 22.2 5.7 20 2.9-.8-2.5 11-2.3 11.1Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M634.8 448c6.3-1.3 12-5.2 15-11.4 5.7-11.1 1-25.4-10.5-31.8a22.9 22.9 0 0 0-25.6 1.8 23.4 23.4 0 0 0-23.5-6.3 22 22 0 0 0-14.3 28.8 25 25 0 0 0 13.2 14.7 24.9 24.9 0 0 0 8.7 24.3l.5.3c5 4 11.2 5.8 17.3 5.1 6.1-.6 11.5-3.6 15.1-8.5 3.8-5 5-11.1 4-17Zm-20.3 19a17.8 17.8 0 0 1-19-21.2 16.2 16.2 0 0 1 3-6.4c.4-.6.5-1.4.4-2-.1-.9-.6-1.7-1.3-2.3-1.6-1.1-3.6-1-4.7.5l-1.4 2.1-.8-.4a18 18 0 0 1-8.5-10c-3-8.9 1.5-18.1 10.2-20.6a17.4 17.4 0 0 1 17 4.7c-.5.6-1 1.3-1.3 2a3.5 3.5 0 0 0 1.5 4.6c.8.5 1.8.6 2.6.3a3 3 0 0 0 2-1.5 17 17 0 0 1 3.7-4.8c4.9-4.1 12.2-5 18.5-1.4a17.4 17.4 0 0 1 7.5 22.7 15.1 15.1 0 0 1-11.1 8.2c-1.2.2-2.4.3-3.5.2a16.7 16.7 0 0 1-7.7-2.2c-.8-.4-1.7-.5-2.5-.3a3 3 0 0 0-2 1.6 3.4 3.4 0 0 0 1 4.1l.6.4 1 .5c2.7 1.4 5.6 2.2 8.4 2.5.9 4.3 0 8.9-2.8 12.6a15.3 15.3 0 0 1-10.8 6Z"
            ></path>
            <ellipse
                cx="610.4"
                cy="451.6"
                fill="#fcfcfc"
                opacity=".4"
                rx="4.9"
                ry="7.8"
                transform="rotate(-66 610.5 451.6)"></ellipse>
            <path
                fill="#fee996"
                d="M579 339.6c-.5.2-1 .5-1.6.6-.8.3-1.4.9-1.6 1.5-.3.7-.4 1.5 0 2.2.5 1.3 2 2 3.4 1.7l.6-.1.9-.3c2.5-1 4.7-2.5 6.5-4.2 3.5 1.9 6.2 5 7.1 9 1 3.7.3 7.4-2 10.6a15 15 0 0 1-9.5 6 16.7 16.7 0 0 1-15.9-5.6 14.5 14.5 0 0 1-2.7-5.6c-.3-.6-.7-1-1.2-1.4-.7-.4-1.5-.5-2.4-.4-1.6.3-2.7 1.8-2.3 3.3l.7 2.2c-.3 0-.5.2-.8.3-3.8 1.4-8 1.3-11.8-.2-7.8-3-11.6-11.3-8.4-18.4 1.5-3.5 4.4-6.1 8.2-7.5 1.5-.6 3.1-1 4.7-1l.7 2a3.2 3.2 0 0 0 4 1.6 2.8 2.8 0 0 0 2-2.7c0-.3 0-.6-.2-1a14.2 14.2 0 0 1-1.2-5.2c0-5.6 3.6-10.8 9.6-13 7.8-2.8 16.8.8 20 8a12.8 12.8 0 0 1-2.5 14.5c-.8.9-1.8 1.7-3 2.4l-1.3.7Z"
            ></path>
            <path
                fill="#e5b572"
                d="M583 341.2c.4-6.4.4-16.5-7.5-21.5-9.6-6.1-19 9.6-18.2 14.7-6.5-9 3.3-24.6 13.3-24.9 10.8-.3 20 7.5 20.4 17.3.2 4-5.8 11.4-8 14.4ZM566 362.3c-2.6 1.3-9.6 1-12.8 1-10.5.4-20.4-7.2-19.9-16.8.8-15.3 16.2-19.8 20-12.2.3.3 1 0 1.4 0-7.4 2.1-14 4-12.3 12.4 2 9.1 14.3 14 17.2 7.7 1-2.3 6.2 7.9 6.4 7.9Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M590.8 336.4c2.7-4.9 3.2-10.8.7-16.4a22.7 22.7 0 0 0-28.1-11.2 19.4 19.4 0 0 0-13.4 17.9c-2 .2-4.2.6-6.2 1.3a20 20 0 0 0-11.6 10.6c-4.4 10 .9 21.6 12 25.8a23.3 23.3 0 0 0 17.6-.3 23.3 23.3 0 0 0 21.8 8.1h.6a21 21 0 0 0 13.4-8.5c3-4.5 4-9.7 2.7-14.9a20.2 20.2 0 0 0-9.5-12.4Zm1.6 24.2a15 15 0 0 1-9.6 6 16.7 16.7 0 0 1-15.9-5.6 14.5 14.5 0 0 1-2.7-5.6c-.3-.6-.7-1-1.3-1.4-.6-.4-1.4-.5-2.3-.4-1.6.3-2.7 1.8-2.3 3.3l.7 2.2c-.3 0-.5.2-.8.3-3.8 1.4-8 1.3-11.8-.1-7.8-3-11.6-11.4-8.4-18.5 1.5-3.5 4.4-6.1 8.2-7.5 1.5-.6 3-1 4.7-1l.7 2a3.2 3.2 0 0 0 4 1.6 2.8 2.8 0 0 0 2-2.7l-.3-1a14.2 14.2 0 0 1-1.1-5.2c0-5.6 3.5-10.8 9.5-13 7.9-2.8 17 .8 20.1 8a12.8 12.8 0 0 1-2.5 14.5 14.6 14.6 0 0 1-5.9 3.8c-.8.2-1.3.8-1.6 1.5-.3.6-.4 1.4 0 2.1.5 1.3 2 2 3.4 1.7l.6-.1.9-.3c2.5-1 4.7-2.5 6.5-4.2 3.5 2 6.2 5 7.2 9 .9 3.7.2 7.4-2 10.6Z"
            ></path>
            <ellipse
                cx="579.4"
                cy="354.5"
                fill="#fcfcfc"
                opacity=".4"
                rx="6.9"
                ry="4.3"
                transform="rotate(-23 579.4 354.5)"></ellipse>
            <path
                fill="#fee996"
                d="m599.6 294.1.8 1.5a2.8 2.8 0 0 0 3.8 1.5 3 3 0 0 0 1.4-4l-.3-.8a20.3 20.3 0 0 0-4.6-6.2c1.8-3.5 5-6.3 8.9-7.4 3.7-1 7.6-.5 11 1.4 3.2 2 5.6 5.2 6.6 9.1a15.5 15.5 0 0 1-7.6 17.4 14.5 14.5 0 0 1-3.1 1.3 3 3 0 0 0-1.4 1.2c-.3.7-.5 1.5-.3 2.3.4 1.6 2 2.5 3.6 2.1l2.1-.7.3.7c1.6 3.6 1.8 7.7.4 11.5a14.4 14.4 0 0 1-18.5 9c-3.6-1.3-6.5-4-8-7.7-.7-1.4-1.1-2.9-1.3-4.4l2-.9a3 3 0 0 0 1.5-4c-.3-.7-1-1.3-1.6-1.5-.4-.2-.8-.2-1.2-.2-.4 0-.7.1-1 .3a15.6 15.6 0 0 1-5.3 1.3c-5.7.3-11.3-3-13.8-8.7-3.2-7.5 0-16.5 7.3-20a13.8 13.8 0 0 1 15 1.9c1 .8 1.8 1.7 2.5 2.8l.8 1.2Z"
            ></path>
            <path
                fill="#e5b572"
                d="M601.1 290.2c-6.6-.2-17 .3-21.7 8.3-5.8 9.6 10.6 18 15.9 17-8.9 6.8-25.4-2-26.1-11.9A19 19 0 0 1 586 283c4-.4 12 5.2 15.1 7.2ZM623.4 305.8c1.5 2.4 1.5 9.2 1.8 12.3.7 10.3-6.6 20.3-16.4 20.2-15.7 0-21-14.8-13.5-19 .4-.2 0-.8 0-1.2 2.5 7 4.7 13.4 13.2 11.3 9.3-2.3 13.8-14.5 7.1-17-2.4-1 7.9-6.5 7.8-6.6Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M595.8 282.8a19.5 19.5 0 0 0-16.8 0 21.6 21.6 0 0 0-10.2 28c3.4 7.9 11 12.4 18.9 12.1.3 2 .8 4 1.7 6 2.2 5 6.2 9 11.3 10.8 10.4 4 22-1.8 26-12.7a21.7 21.7 0 0 0-1.2-17.2 21.7 21.7 0 0 0 7.4-21.6l-.1-.6c-1.4-5.4-4.7-10-9.4-12.7-4.6-2.8-10-3.5-15.3-2a20.6 20.6 0 0 0-12.3 9.9Zm24.7-2.7c3.3 2 5.7 5.2 6.7 9.1a15.5 15.5 0 0 1-7.6 17.4 14.5 14.5 0 0 1-3.1 1.3 3 3 0 0 0-1.4 1.2c-.4.7-.5 1.5-.3 2.3.4 1.6 2 2.5 3.5 2.1l2.2-.7.3.7c1.6 3.6 1.8 7.7.4 11.5a14.4 14.4 0 0 1-18.5 9c-3.6-1.3-6.5-4-8-7.7-.7-1.4-1.1-2.9-1.3-4.4l2-.9a3 3 0 0 0 1.5-4c-.3-.7-1-1.3-1.6-1.5-.4-.2-.8-.2-1.2-.2-.4 0-.7.1-1 .3a15.6 15.6 0 0 1-5.3 1.3c-5.7.3-11.3-3-13.8-8.7-3.2-7.5 0-16.5 7.3-20a13.8 13.8 0 0 1 15 1.9 14.3 14.3 0 0 1 4 5.5 2.8 2.8 0 0 0 3.9 1.5 3 3 0 0 0 1.4-4l-.4-.8a20.3 20.3 0 0 0-4.6-6.2c1.9-3.5 5-6.3 9-7.4 3.7-1 7.6-.5 11 1.4Z"
            ></path>
            <ellipse
                cx="614.9"
                cy="293.1"
                fill="#fcfcfc"
                opacity=".4"
                rx="4.4"
                ry="6.8"
                transform="rotate(-28 615 293)"></ellipse>
            <path
                fill="#fee996"
                d="m725.8 383-1 1.4a2.7 2.7 0 0 0 .7 3.9 3.2 3.2 0 0 0 4.3-.8l.5-.8a20 20 0 0 0 3.1-7c4-.2 8 1 11 3.7a13 13 0 0 1 4.4 10c0 3.7-1.7 7.4-4.6 10.2A16.4 16.4 0 0 1 725 406a13.7 13.7 0 0 1-2.7-2 3 3 0 0 0-1.8-.5c-.8 0-1.6.3-2.2 1-1.2 1-1.2 2.9 0 4l1.7 1.4-.4.6a16.2 16.2 0 0 1-10 6.2c-8.2 1.7-16-3.2-17.4-10.9-.7-3.7.3-7.5 2.6-10.7 1-1.3 2.1-2.4 3.4-3.3l1.7 1.3c1.4.8 3.3.5 4.3-.8a2.7 2.7 0 0 0-.6-4 15 15 0 0 1-4-3.7c-3.1-4.7-3-11 .7-16 5-6.6 14.5-8.4 21.3-4a13.1 13.1 0 0 1 5 17l-.8 1.2Z"
            ></path>
            <path
                fill="#e5b572"
                d="M730 382.2c-3.2-5.6-9-14-18.4-14-11.4 0-10.4 18.1-6.9 22-10.4-4-11-22.3-2.8-27.9 8.8-6 20.8-4.4 26.8 3.6 2.3 3.1 1.5 12.6 1.3 16.3ZM727.7 408.9c-1.4 2.5-7.4 6-10 7.8-8.7 5.8-21.2 4.8-26.2-3.5-8-13.2 2.4-25.2 9.9-21 .3.2.7-.4 1-.6-4.9 5.7-9.4 10.7-3.1 16.9 6.7 6.6 19.8 4 18.6-2.8-.4-2.5 9.7 3.3 9.8 3.2Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M733.9 374a18.5 18.5 0 0 0-8.7-14.1c-9.4-6-22.8-3.5-29.8 5.7a19 19 0 0 0-1 22 22 22 0 0 0-4.5 4.5 19.4 19.4 0 0 0-3.8 15c2 10.8 13 17.6 24.5 15.3a23 23 0 0 0 14.7-9.7 23.1 23.1 0 0 0 22.8-4.9l.4-.4c4-3.9 6.3-9 6.4-14.3 0-5.3-2-10.2-6-13.8a21 21 0 0 0-15-5.3Zm14.9 19.3c0 3.8-1.7 7.5-4.6 10.2a16.4 16.4 0 0 1-19.2 2.6 13.7 13.7 0 0 1-2.7-2 3 3 0 0 0-1.8-.5c-.8 0-1.5.3-2.2 1-1.2 1-1.2 2.9 0 4l1.7 1.4-.4.6a16.2 16.2 0 0 1-10 6.2c-8.2 1.7-16-3.2-17.4-10.9-.7-3.7.3-7.5 2.6-10.7 1-1.3 2.1-2.4 3.4-3.3l1.7 1.3c1.4.8 3.3.5 4.3-.8a2.7 2.7 0 0 0-.6-4 15 15 0 0 1-4-3.7c-3.1-4.7-3-11 .7-16 5-6.6 14.6-8.4 21.3-4a13.1 13.1 0 0 1 5 17 16 16 0 0 1-1.7 2.7 2.7 2.7 0 0 0 .6 3.9 3.2 3.2 0 0 0 4.3-.8l.5-.8a20 20 0 0 0 3.1-7c4-.2 8 1 11 3.7a13 13 0 0 1 4.4 10Z"
            ></path>
            <ellipse
                cx="734.5"
                cy="395.2"
                fill="#fcfcfc"
                opacity=".4"
                rx="6.8"
                ry="4.4"
                transform="rotate(-56 734.6 395.2)"></ellipse>
            <path
                fill="#fee996"
                d="m731.8 431-1.6.7c-.8.2-1.4.8-1.7 1.4-.3.7-.3 1.5 0 2.2.6 1.3 2 2 3.5 1.7l.5-.1 1-.3c2.5-1 4.6-2.5 6.5-4.2 3.5 1.9 6.1 5 7.1 9 1 3.7.2 7.4-2 10.6a15 15 0 0 1-9.6 6 16.7 16.7 0 0 1-15.8-5.6 14.5 14.5 0 0 1-2.8-5.6c-.2-.6-.6-1-1.2-1.4-.6-.4-1.5-.5-2.3-.4-1.7.3-2.7 1.8-2.3 3.3l.6 2.2-.7.3c-3.8 1.4-8 1.3-11.8-.2-7.9-3-11.7-11.3-8.5-18.4 1.6-3.5 4.5-6.1 8.3-7.5 1.5-.6 3-1 4.6-1l.8 2a3.2 3.2 0 0 0 4 1.6 2.8 2.8 0 0 0 2-2.7l-.3-1a14.2 14.2 0 0 1-1.1-5.2c0-5.6 3.5-10.8 9.5-13 7.9-2.8 16.9.8 20.1 8a12.8 12.8 0 0 1-2.5 14.5c-.9.9-1.9 1.7-3 2.4l-1.3.7Z"
            ></path>
            <path
                fill="#e5b572"
                d="M735.7 432.6c.5-6.4.4-16.5-7.5-21.5-9.5-6.1-18.9 9.6-18.1 14.7-6.6-9 3.2-24.6 13.3-24.9 10.8-.3 19.9 7.5 20.4 17.3.2 4-5.9 11.4-8 14.4ZM718.8 453.7c-2.6 1.3-9.6 1-12.8 1-10.5.4-20.4-7.2-20-16.8.9-15.3 16.2-19.8 20.1-12.2.2.3.9 0 1.3 0-7.3 2.1-14 4-12.2 12.4 2 9.1 14.3 14 17.2 7.7 1-2.3 6.2 7.9 6.4 7.9Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M743.5 427.8c2.8-4.9 3.3-10.9.8-16.4a22.7 22.7 0 0 0-28.1-11.2 19.4 19.4 0 0 0-13.4 17.9c-2.1.1-4.2.6-6.2 1.3A20 20 0 0 0 685 430c-4.5 10 .9 21.6 11.9 25.8a23.3 23.3 0 0 0 17.7-.3c1.6 2.1 3.6 3.9 6 5.3a23.3 23.3 0 0 0 15.8 2.9l.5-.1a21 21 0 0 0 13.5-8.6c3-4.4 4-9.6 2.7-14.8a20.2 20.2 0 0 0-9.6-12.4Zm1.6 24.2a15 15 0 0 1-9.6 6 16.7 16.7 0 0 1-15.8-5.6 14.5 14.5 0 0 1-2.8-5.6c-.2-.6-.6-1-1.2-1.4-.7-.4-1.5-.5-2.3-.4-1.7.3-2.7 1.8-2.3 3.3.1.8.4 1.5.6 2.2l-.7.3c-3.8 1.4-8 1.3-11.8-.2-7.9-3-11.7-11.3-8.5-18.4 1.6-3.5 4.5-6.1 8.3-7.5 1.5-.6 3-1 4.6-1l.8 2a3.2 3.2 0 0 0 4 1.6 2.8 2.8 0 0 0 2-2.7l-.3-1a14.2 14.2 0 0 1-1.1-5.2c0-5.6 3.5-10.8 9.5-13 7.9-2.8 16.9.8 20.1 8a12.8 12.8 0 0 1-2.5 14.5 14.6 14.6 0 0 1-5.9 3.8c-.8.2-1.4.8-1.7 1.5-.3.6-.3 1.4 0 2.1.6 1.3 2 2 3.5 1.7l.5-.1 1-.3c2.5-1 4.7-2.5 6.5-4.2 3.5 2 6.1 5 7.1 9 1 3.7.2 7.4-2 10.6Z"
            ></path>
            <ellipse
                cx="732.2"
                cy="445.9"
                fill="#fcfcfc"
                opacity=".4"
                rx="6.9"
                ry="4.3"
                transform="rotate(-23 732.1 445.9)"></ellipse>
            <path
                fill="#fee996"
                d="m518.2 427.2-.5 1.8a3.3 3.3 0 0 0 2.3 4 3.4 3.4 0 0 0 4.2-2l.2-1c.8-3 1-5.9.6-8.7 4.1-1.5 8.8-1.4 13.1.7 4 2 7 5.2 8.5 9.4a16 16 0 0 1-.8 12.5c-2 4-5.4 6.9-9.6 8.3a17.1 17.1 0 0 1-13.3-1c-.7-.2-1.5-.2-2.1 0-.8.3-1.5 1-2 1.7a3.3 3.3 0 0 0 1.6 4.4l2.4 1-.2.9a17 17 0 0 1-30.9 3.4 15.8 15.8 0 0 1 .8-17.1l2.3.8c1.8.5 3.7-.5 4.2-2.2a3 3 0 0 0-.2-2.5c-.3-.4-.6-.8-1-1-.3-.3-.6-.5-1-.6a18.3 18.3 0 0 1-5.6-2.8c-5.3-4.1-7.7-11-5.7-17.6a17 17 0 0 1 32.6 1.7c.3 1.4.4 2.8.3 4.3l-.2 1.6Z"
            ></path>
            <path
                fill="#e5b572"
                d="M522.4 425.1c-5.7-5.1-15-12.4-25-9.5-12.2 3.6-4 22.9 1.4 26-12.7-1-20.7-20.8-14.2-29.4 7-9.2 20.3-11.2 29.8-4.4 3.8 2.7 6.7 13.3 8 17.3ZM530.5 454.8c-.5 3.1-5.5 8.8-7.5 11.5-6.8 9-20.5 11.8-29.1 4.3-13.6-11.8-7.5-28 2.1-25.8.5.1.6-.7.9-1-3 7.7-5.7 14.6 3.3 19.3 9.8 5.1 22.6-1.7 18.7-8.8-1.4-2.6 11.5.6 11.6.5Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M523.1 415a23.7 23.7 0 0 0-44 2.7c-2.8 9.1.5 18.7 7.6 24.4a22.5 22.5 0 0 0-.9 23.6 23.9 23.9 0 0 0 41.5-.5 22.6 22.6 0 0 0 2.1-5.6 24 24 0 0 0 22.2-12.3l.3-.5a22.4 22.4 0 0 0 1.1-17.5 23 23 0 0 0-12-13.2 24 24 0 0 0-17.8-1Zm23.5 16.4a16 16 0 0 1-.8 12.5c-2 4-5.4 6.9-9.6 8.3a17.1 17.1 0 0 1-13.3-1c-.7-.2-1.5-.2-2.1 0-.8.3-1.5 1-2 1.7a3.3 3.3 0 0 0 1.6 4.4l2.4 1-.2.9a17 17 0 0 1-30.9 3.4 15.8 15.8 0 0 1 .8-17.1l2.4.8c1.7.5 3.6-.5 4.1-2.2a3 3 0 0 0-.2-2.5c-.3-.4-.6-.8-1-1-.3-.3-.6-.5-1-.6a18.3 18.3 0 0 1-5.6-2.8c-5.3-4.1-7.7-11-5.7-17.6a17 17 0 0 1 32.7 1.7 16 16 0 0 1-.5 7.7c-.3.9-.1 1.8.3 2.5.4.8 1 1.4 2 1.6a3.4 3.4 0 0 0 4.2-2.2l.2-1c.8-2.9 1-5.7.6-8.6 4.1-1.4 8.8-1.4 13.1.7 4 2 7 5.2 8.5 9.4Z"
            ></path>
            <ellipse
                cx="532.3"
                cy="437.8"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.5"
                ry="5"
                transform="rotate(-80 532.3 437.8)"></ellipse>
            <path
                fill="#fee996"
                d="m479.1 432.2-1.8.7a3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.3 2l1-.4c2.8-1.1 5.3-2.7 7.4-4.7 3.7 2.4 6.4 6.2 7.3 10.8a16 16 0 0 1-2.8 12.2 17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.7-.7-1.3-1.3-1.6-.7-.5-1.6-.7-2.5-.6-1.9.4-3 2-2.7 3.9l.6 2.5-.9.3a17 17 0 0 1-12.8-.5 16.2 16.2 0 0 1 1.2-30.3c1.7-.6 3.4-.9 5.1-1l.7 2.4a3.4 3.4 0 0 0 6.6-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6.1 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8c-1 1-2.2 2-3.4 2.7l-1.5.8Z"
            ></path>
            <path
                fill="#e5b572"
                d="M483.3 434.2c1-7.4 1.4-19.2-7-25.3-10-7.4-21.1 10.6-20.6 16.6-6.6-10.6 5-28.6 16-28.6a21 21 0 0 1 21.3 20.8c0 4.5-7.1 13-9.7 16.5ZM463.6 458.2c-2.8 1.5-10.5.9-14 .9-11.5 0-21.8-9.1-20.8-20.3 1.8-17.7 18.8-22.5 22.6-13.6.2.4 1 0 1.4 0-8.1 2.3-15.4 4.2-14 14.1 1.6 10.7 14.8 16.8 18.3 9.5 1.3-2.7 6.3 9.4 6.5 9.4Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M492.1 428.8a22.5 22.5 0 0 0 1.8-19 23.7 23.7 0 0 0-30.1-14 23 23 0 0 0-15.6 20.5 23.1 23.1 0 0 0-20 13.3 22.7 22.7 0 0 0 11.4 30.4 23.8 23.8 0 0 0 19.4.2 23.8 23.8 0 0 0 23.4 10.1h.5a23.5 23.5 0 0 0 15.2-9.6 22.4 22.4 0 0 0-6-31.9Zm.4 28.2a17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.7-.7-1.3-1.3-1.6-.7-.5-1.6-.7-2.5-.6-1.9.4-3 2-2.7 3.9l.6 2.4-.9.4a17 17 0 0 1-12.8-.5 16.2 16.2 0 0 1 1.2-30.3c1.7-.6 3.4-1 5.1-1l.7 2.4a3.4 3.4 0 0 0 6.6-1c0-.5 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6.1 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8 16.2 16.2 0 0 1-6.7 4.2 3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.3 2l1-.4c2.8-1 5.3-2.7 7.4-4.6a16 16 0 0 1 4.5 23Z"
            ></path>
            <ellipse
                cx="478.7"
                cy="449.6"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.7"
                ry="5"
                transform="rotate(-25 478.6 449.5)"></ellipse>
            <path
                fill="#fee996"
                d="m638 330.6.6-1.8a3 3 0 0 0 0-2.5c-.3-.7-.9-1.4-1.7-1.7a3.4 3.4 0 0 0-4.4 1.7l-.4 1c-1.1 2.7-1.6 5.6-1.5 8.4-4.3 1-9 .5-13-2-3.8-2.3-6.4-6-7.4-10.2-1-4.3-.3-8.7 2.2-12.4a17.2 17.2 0 0 1 23.6-4.9c.7.3 1.4.4 2 .2 1-.2 1.7-.7 2.2-1.4 1-1.6.5-3.6-1-4.6l-2.4-1.2.4-.8c1.7-4 4.9-7.2 9-9a17 17 0 0 1 22 8.9 15.8 15.8 0 0 1-2.7 16.9l-2.2-1.1c-1.7-.7-3.7 0-4.4 1.7a3 3 0 0 0 0 2.5 3.2 3.2 0 0 0 1.8 1.8 19 19 0 0 1 5.2 3.5 16.1 16.1 0 0 1 3.7 18A17 17 0 0 1 638 340a15 15 0 0 1-.4-7.7l.4-1.6Z"
            ></path>
            <path
                fill="#e5b572"
                d="M633.6 332.3c5 5.6 13.6 14 23.8 12 12.5-2.2 6.4-22.3 1.5-26 12.5 2.4 18.2 22.9 10.8 30.8-8 8.4-21.4 9-30.1 1.2-3.4-3-5.1-13.9-6-18ZM628.8 302c.9-3.1 6.4-8.3 8.8-10.8 7.8-8.2 21.7-9.5 29.4-1.2 12.2 13.2 4.3 28.7-5 25.4-.4-.1-.6.7-1 1 3.8-7.4 7.3-14-1.1-19.6-9.2-6-22.7-.7-19.6 6.8 1.2 2.7-11.4-1.8-11.5-1.7Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M631.7 342.2a23.8 23.8 0 0 0 44.1 2 22.5 22.5 0 0 0-4.9-25 22.5 22.5 0 0 0 3.6-23.5 23.8 23.8 0 0 0-44 1.5 24 24 0 0 0-23.8 10.4 22.4 22.4 0 0 0-3 17.3c1.3 6 5 11 10.3 14.4a24 24 0 0 0 17.7 3Zm-21.5-18.7c-1-4.3-.2-8.7 2.2-12.4a17.2 17.2 0 0 1 23.6-4.9c.7.3 1.4.4 2 .2 1-.2 1.7-.7 2.2-1.4 1-1.6.5-3.6-1-4.6l-2.4-1.2.4-.8c1.7-4 4.9-7.2 9-9a17 17 0 0 1 22 8.9 15.8 15.8 0 0 1-2.6 16.9l-2.3-1.1c-1.7-.7-3.7 0-4.4 1.7a3 3 0 0 0 0 2.5 3.2 3.2 0 0 0 1.8 1.8 19 19 0 0 1 5.3 3.5 16.1 16.1 0 0 1 3.6 18A17 17 0 0 1 638 340a15 15 0 0 1-.4-7.7 14.6 14.6 0 0 1 1-3.3 3 3 0 0 0 0-2.5 3.4 3.4 0 0 0-6.2 0l-.4.9c-1 2.8-1.5 5.6-1.4 8.5-4.3 1-9 .4-13-2-3.8-2.4-6.5-6-7.5-10.3Z"
            ></path>
            <ellipse
                cx="625.2"
                cy="318.6"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.5"
                ry="5"
                transform="rotate(-73 625.2 318.6)"></ellipse>
            <path
                fill="#fee996"
                d="m676.6 342.8-1.8.7a3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.3 2l1-.4c2.8-1 5.3-2.7 7.4-4.7 3.7 2.4 6.4 6.2 7.2 10.8a16 16 0 0 1-2.7 12.2 17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.7-.8-1.2-1.3-1.6-.7-.5-1.6-.7-2.6-.5-1.8.3-3 2-2.7 3.8l.6 2.5-.8.3a17 17 0 0 1-12.9-.5 16.2 16.2 0 0 1 1.3-30.3c1.6-.5 3.4-.9 5-1l.8 2.4a3.4 3.4 0 0 0 6.5-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.7c-1 1-2 2-3.3 2.7l-1.5.8Z"
            ></path>
            <path
                fill="#e5b572"
                d="M680.8 344.8c.9-7.4 1.4-19.2-7-25.3-10-7.4-21.2 10.6-20.6 16.6-6.7-10.6 5-28.5 16-28.5a21 21 0 0 1 21.2 20.7c0 4.6-7 13.1-9.6 16.5ZM661.1 368.8c-2.9 1.5-10.5 1-14 1-11.5 0-21.9-9.2-20.8-20.3 1.7-17.8 18.8-22.6 22.6-13.7.2.5 1 0 1.4 0-8.1 2.4-15.5 4.3-14 14.2 1.5 10.7 14.8 16.7 18.3 9.4 1.3-2.6 6.3 9.5 6.5 9.4Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M689.6 339.5a22.5 22.5 0 0 0 1.7-19.1 23.7 23.7 0 0 0-30-14 23 23 0 0 0-15.6 20.5 23.1 23.1 0 0 0-20 13.3 22.7 22.7 0 0 0 11.4 30.4 23.8 23.8 0 0 0 19.3.2 23.8 23.8 0 0 0 23.4 10.1h.6a23.5 23.5 0 0 0 15.1-9.5 22.4 22.4 0 0 0-5.9-32Zm.4 28.1a17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.7-.8-1.3-1.4-1.6-.7-.5-1.5-.7-2.5-.6-1.8.4-3 2-2.7 3.9l.6 2.5c-.3 0-.5.2-.8.3a17 17 0 0 1-12.9-.5 16.2 16.2 0 0 1 1.3-30.3c1.6-.6 3.3-.9 5-1l.8 2.4a3.4 3.4 0 0 0 6.5-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6.1 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8 16.2 16.2 0 0 1-6.6 4.3 3.2 3.2 0 0 0-2 4.1 3.3 3.3 0 0 0 4.3 2l1-.3c2.8-1.2 5.3-2.8 7.3-4.7a16 16 0 0 1 4.5 23Z"
            ></path>
            <ellipse
                cx="676.2"
                cy="360.2"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.7"
                ry="5"
                transform="rotate(-25 676 360.1)"></ellipse>
            <path
                fill="#fee996"
                d="m689.3 430.6-1.8.7a3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.3 2l1-.3c2.8-1.2 5.2-2.8 7.3-4.7a16 16 0 0 1 4.5 23c-2.5 3.5-6.3 6-10.8 6.7a17 17 0 0 1-18.6-10 15.7 15.7 0 0 1-1-3.6c-.2-.7-.7-1.3-1.3-1.7-.7-.5-1.6-.7-2.5-.5-1.8.3-3 2-2.7 3.8.1.9.3 1.7.6 2.5l-.8.3a17 17 0 0 1-12.9-.5 16.2 16.2 0 0 1 1.2-30.2c1.7-.6 3.4-1 5.2-1 .1.8.4 1.6.7 2.3a3.4 3.4 0 0 0 6.5-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8c-1 1-2.1 1.9-3.4 2.7l-1.4.7Z"
            ></path>
            <path
                fill="#e5b572"
                d="M693.5 432.6c.9-7.4 1.3-19.2-7-25.3-10.1-7.4-21.2 10.6-20.6 16.6-6.7-10.6 4.9-28.5 15.9-28.5A21 21 0 0 1 703 416c0 4.6-7 13.1-9.6 16.5ZM673.8 456.6c-2.9 1.5-10.5 1-14 1-11.5 0-21.9-9.2-20.8-20.3 1.7-17.8 18.7-22.5 22.6-13.6.1.4.9 0 1.4 0-8.2 2.3-15.5 4.2-14 14 1.5 10.8 14.7 16.8 18.2 9.6 1.3-2.7 6.4 9.4 6.6 9.3Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M702.3 427.3a22.5 22.5 0 0 0 1.7-19.1 23.7 23.7 0 0 0-30-14 23 23 0 0 0-15.7 20.5 23.1 23.1 0 0 0-20 13.3 22.7 22.7 0 0 0 11.5 30.5 23.8 23.8 0 0 0 19.3.1 23.8 23.8 0 0 0 23.4 10.1h.5a23.5 23.5 0 0 0 15.2-9.5 22.4 22.4 0 0 0-6-32Zm.4 28.1c-2.6 3.6-6.4 6-10.9 6.8a17 17 0 0 1-18.6-10 15.7 15.7 0 0 1-1-3.7c-.3-.6-.7-1.2-1.3-1.6-.7-.5-1.6-.7-2.5-.5-1.8.3-3 2-2.7 3.8.1.8.3 1.7.6 2.5l-.9.3a17 17 0 0 1-12.8-.5 16.2 16.2 0 0 1 1.2-30.2c1.7-.6 3.4-1 5.1-1l.8 2.3a3.4 3.4 0 0 0 6.5-1c0-.4 0-.8-.2-1.2a17.2 17.2 0 0 1-1-6 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.7 16.2 16.2 0 0 1-6.6 4.3 3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.2 2l1-.4c2.8-1.1 5.3-2.7 7.4-4.7a16 16 0 0 1 4.5 23Z"
            ></path>
            <ellipse
                cx="688.8"
                cy="448"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.7"
                ry="5"
                transform="rotate(-25 688.7 448)"></ellipse>
            <path
                fill="#fcfcfc"
                d="M760.8 467c0-1.7 1.4-3.2 3.2-3.2h36.5a11.6 11.6 0 0 0-11.2-8.4h-347a11.7 11.7 0 0 0 0 23.2h347c5.4 0 9.9-3.5 11.2-8.4H764a3.2 3.2 0 0 1-3.1-3.2Zm-8 3.2h-2.1c-1.8 0-3.2-1.4-3.2-3.2s1.4-3.2 3.2-3.2h2a3.2 3.2 0 1 1 0 6.4Z"
            ></path>
            <path
                fill="#5b4068"
                d="M446.2 481.6h334.4v29.6H446.2zM425.9 467c0-9.9 8-18 17.8-18h341.1c9.9 0 17.9 8.1 17.9 18s-376.8 0-376.8 0Z"
                opacity=".1"></path>
            <path
                fill="#5b4068"
                d="M789.4 444.8H442.2c-12.2 0-22.2 10-22.2 22.2s9 21.3 20.4 22.2L471 854.8a5.3 5.3 0 0 0 5.3 4.9H753c2.7 0 5-2.1 5.2-4.9l30.5-365.5h.5a22.3 22.3 0 0 0 0-44.5ZM513.5 849.1l-1.2-19c-.2-2.9-2.7-5-5.6-4.9a5.3 5.3 0 0 0-5 5.6l1.2 18.3H481l-30-359.8H508L526 849h-12.5Zm23 0-6-120-12-239.9h35l.8 29.5c0 3 2.4 5.2 5.3 5.2h.1c3-.1 5.3-2.5 5.2-5.4l-.8-29.3h11.4l6 359.9h-45Zm100.6 0h-45l-6-359.8h57l-6 359.8Zm10.6 0 6-359.8h57l-18 359.8h-45Zm100.5 0H741l1.8-25.2a5.3 5.3 0 1 0-10.5-.8l-1.9 26h-6.8l.6-9.7a5.3 5.3 0 0 0-10.5-.6L713 849h-9.9l18-359.8h8l-.7 11.8c-.2 3 2 5.4 5 5.6h.3c2.8 0 5.1-2.1 5.3-5l.7-12.4h38.4l-30 359.8Zm15.7-378.9h36.6a11.6 11.6 0 0 1-11.2 8.5H442.2a11.7 11.7 0 0 1 0-23.3h347.1c5.4 0 9.8 3.6 11.2 8.5H764a3.2 3.2 0 1 0 0 6.3Z"
            ></path>
            <path
                fill="#fee996"
                d="m386.9 828.2.5-1.5c.4-.6.4-1.4.1-2-.2-.7-.7-1.3-1.4-1.6a2.8 2.8 0 0 0-3.6 1.5l-.4.8c-1 2.3-1.4 4.7-1.4 7a13.2 13.2 0 0 1-16.3-10.4 14 14 0 0 1 18.8-15.7 13.6 13.6 0 0 1 2.7 1.5c.6.3 1.2.3 1.7.2.7-.2 1.3-.6 1.8-1.2.8-1.3.5-3-.8-3.8a17 17 0 0 0-1.8-1l.3-.7c1.5-3.4 4.2-6 7.6-7.4a13.4 13.4 0 0 1 17.4 18c-.6 1.3-1.4 2.5-2.4 3.6a18 18 0 0 0-1.8-1c-1.3-.5-3 .1-3.6 1.5-.3.7-.3 1.5 0 2 0 .5.3.8.5 1 .3.3.5.5.8.6a14.1 14.1 0 0 1 4.2 3c3.8 3.8 5 9.7 2.5 15a14 14 0 0 1-18.2 7.2 13.1 13.1 0 0 1-8-11.7c0-1.2.1-2.4.4-3.5l.4-1.4Z"
            ></path>
            <path
                fill="#e5b572"
                d="M383.2 829.6c4 4.8 10.7 11.7 19.1 10.3 10.2-1.9 5.8-18.7 2-21.8 10 2 14.1 19.2 7.8 25.8-6.7 7-17.7 7.4-24.5.8-2.7-2.6-3.8-11.7-4.4-15.1ZM380.2 804.2c.7-2.6 5.4-6.8 7.4-9 6.6-6.8 18-7.8 24-.8 9.6 11.2 2.7 24-4.8 21.3-.3-.2-.5.5-.8.8 3.3-6.2 6.3-11.6-.4-16.4-7.3-5.2-18.4-.7-16 5.5.8 2.3-9.3-1.6-9.4-1.4Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M381.4 837.9c1.5 5.2 5.1 9.6 10.4 12 9.6 4.1 21-.4 25.5-10a19 19 0 0 0-3.3-21 19.8 19.8 0 0 0 3.5-19.6 18.8 18.8 0 0 0-24.7-10.5 19.7 19.7 0 0 0-11.2 11.4 19.6 19.6 0 0 0-19.4 8.2l-.2.3c-2.9 4.4-4 9.5-3 14.5s3.8 9.3 8 12c4.5 3 9.6 3.7 14.4 2.7Zm-17-15.8a14 14 0 0 1 18.8-15.7 13.6 13.6 0 0 1 2.7 1.4c.6.3 1.2.3 1.7.2.7-.2 1.3-.6 1.8-1.2.8-1.3.5-3-.8-3.8a17 17 0 0 0-1.8-1l.3-.7c1.5-3.4 4.2-6 7.6-7.4a13.4 13.4 0 0 1 17.4 18c-.6 1.3-1.4 2.5-2.3 3.6a18 18 0 0 0-1.9-1c-1.3-.5-3 .1-3.6 1.5-.3.7-.3 1.4 0 2 0 .5.3.8.5 1 .3.3.5.5.8.6a14.1 14.1 0 0 1 4.2 3c3.8 3.8 5 9.7 2.5 15a14 14 0 0 1-18.2 7.2 13.1 13.1 0 0 1-8-11.7 13.4 13.4 0 0 1 1.3-6.3c.4-.7.4-1.5.1-2.1-.2-.7-.7-1.2-1.4-1.5a2.8 2.8 0 0 0-3.6 1.4l-.4.8c-1 2.3-1.4 4.7-1.4 7a13.2 13.2 0 0 1-16.3-10.4Z"
            ></path>
            <ellipse
                cx="376.7"
                cy="818"
                fill="#fcfcfc"
                opacity=".4"
                rx="6.3"
                ry="4.1"
                transform="rotate(-72 376.7 818)"></ellipse>
            <path
                fill="#fee996"
                d="m778.1 809.3 1 1.3c.3.6 1 1 1.6 1.2.7.2 1.4 0 2-.3a2.8 2.8 0 0 0 1-3.9l-.5-.7c-1.5-2-3.2-3.8-5.1-5.1a13.2 13.2 0 0 1 17.7-7.7c3.4 1.4 6 4 7.4 7.5a14 14 0 0 1-4.9 16.8 13.8 13.8 0 0 1-2.7 1.5c-.5.3-.9.7-1 1.3-.4.6-.4 1.4 0 2a2.7 2.7 0 0 0 3.5 1.6l1.9-1 .4.7a14 14 0 0 1 1.9 10.4 13.4 13.4 0 0 1-24.7 4.4c-.7-1.2-1.3-2.6-1.7-4l1.8-1c1.3-.8 1.6-2.5.8-3.8-.3-.6-1-1-1.6-1.2h-1.2l-.9.3a14 14 0 0 1-4.8 1.9 14 14 0 0 1-9.7-25.4 13 13 0 0 1 14.1-.1c1 .6 2 1.3 2.8 2.2l1 1Z"
            ></path>
            <path
                fill="#e5b572"
                d="M779 805.5c-6.1.6-15.7 2.3-19.1 10-4.2 9.6 12.2 15.3 17 13.8-7.4 7.2-24 1-25.8-7.8-2.1-9.5 3.7-18.8 13-20.8 3.6-.8 11.7 3.4 15 4.8ZM801.8 817.1c1.7 2.1 2.6 8.4 3.3 11.2 2 9.2-3.5 19.2-12.7 20.3-14.6 1.8-21.5-11.1-15-15.8.3-.2-.1-.7-.2-1.1 3.3 6.1 6.1 11.7 13.8 8.8 8.4-3.2 11-14.9 4.4-16.4-2.4-.6 6.5-6.8 6.4-7Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M773.2 799.4a18.6 18.6 0 0 0-15.7 2 19.6 19.6 0 0 0-6 26.6 19 19 0 0 0 19.3 9 19.8 19.8 0 0 0 14.3 13.8 18.8 18.8 0 0 0 22.5-14.6 19.7 19.7 0 0 0-3.3-15.6 19.7 19.7 0 0 0-6.5-31.6 18.5 18.5 0 0 0-24.6 10.4Zm22.6-5.3c3.4 1.4 6 4 7.4 7.5a14 14 0 0 1-4.9 16.8 13.8 13.8 0 0 1-2.7 1.5c-.5.3-.9.7-1 1.3-.4.6-.4 1.4 0 2a2.7 2.7 0 0 0 3.5 1.6l1.9-1 .4.7a14 14 0 0 1 1.9 10.5 13.4 13.4 0 0 1-24.7 4.3c-.7-1.2-1.3-2.6-1.7-4 .6-.2 1.2-.6 1.8-1 1.3-.8 1.6-2.5.8-3.8-.3-.6-1-1-1.6-1.2h-1.2l-.9.3a14 14 0 0 1-4.8 1.9 14 14 0 0 1-9.7-25.4 13 13 0 0 1 14.1-.1 13.8 13.8 0 0 1 4.6 4.6c.4.6 1 1 1.7 1.2.7.2 1.4 0 2-.3a2.8 2.8 0 0 0 1-3.9l-.6-.7c-1.4-2-3-3.8-5-5.1a13.2 13.2 0 0 1 17.7-7.7Z"
            ></path>
            <ellipse
                cx="792.2"
                cy="806.5"
                fill="#fcfcfc"
                opacity=".4"
                rx="4.1"
                ry="6.3"
                transform="rotate(-38 792.3 806.5)"></ellipse>
            <path
                fill="#fee996"
                d="m448.2 813-1.7.7a3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.2 2l1-.4c2.8-1.1 5.3-2.7 7.4-4.7a16 16 0 0 1 4.5 23 17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.7-.7-1.3-1.3-1.7-.7-.4-1.6-.7-2.5-.5-1.8.3-3 2-2.7 3.8.1.9.3 1.7.6 2.5l-.9.4a17 17 0 0 1-12.8-.5 16.2 16.2 0 0 1 1.2-30.3c1.7-.6 3.4-1 5.1-1l.8 2.4a3.4 3.4 0 0 0 6.5-1c0-.5 0-.9-.2-1.2a17.2 17.2 0 0 1-1-6.1 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8c-1 1-2.1 2-3.4 2.7l-1.5.8Z"
            ></path>
            <path
                fill="#e5b572"
                d="M452.4 815c1-7.5 1.4-19.2-7-25.3-10-7.4-21.1 10.5-20.6 16.5-6.6-10.5 5-28.5 16-28.5a21 21 0 0 1 21.3 20.8c0 4.5-7.1 13-9.6 16.5ZM432.8 839c-3 1.4-10.6.9-14 .9-11.5 0-22-9.1-20.8-20.3 1.7-17.8 18.7-22.5 22.5-13.6.2.4 1 0 1.4 0-8.1 2.3-15.4 4.2-14 14.1 1.6 10.7 14.8 16.8 18.3 9.5 1.3-2.7 6.4 9.4 6.6 9.4Z"
                opacity=".8"></path>
            <path
                fill="#5b4068"
                d="M461.3 809.6a22.5 22.5 0 0 0 1.7-19 23.7 23.7 0 0 0-30-14 23 23 0 0 0-15.7 20.4 23.1 23.1 0 0 0-20 13.3 22.7 22.7 0 0 0 11.5 30.5 23.8 23.8 0 0 0 19.3.2 23.8 23.8 0 0 0 23.4 10.1h.5a23.5 23.5 0 0 0 15.2-9.6 22.4 22.4 0 0 0-6-31.9Zm.3 28.2a17 17 0 0 1-29.4-3.3 15.7 15.7 0 0 1-1-3.6c-.3-.7-.7-1.3-1.3-1.7-.7-.5-1.6-.7-2.5-.5-1.8.3-3 2-2.7 3.8.1.9.3 1.7.6 2.5l-.9.4a17 17 0 0 1-12.8-.6 16.2 16.2 0 0 1 1.2-30.2c1.7-.6 3.4-1 5.1-1l.8 2.4a3.4 3.4 0 0 0 6.5-1.1c0-.4 0-.8-.2-1.1a17.2 17.2 0 0 1-1-6.1 17 17 0 0 1 32.6-5 15.9 15.9 0 0 1-3.5 16.8 16.2 16.2 0 0 1-6.6 4.2 3.2 3.2 0 0 0-2 4.2 3.3 3.3 0 0 0 4.2 2l1-.4c2.8-1.1 5.3-2.7 7.4-4.7 3.7 2.4 6.4 6.2 7.3 10.8a16 16 0 0 1-2.8 12.2Z"
            ></path>
            <ellipse
                cx="447.8"
                cy="830.3"
                fill="#fcfcfc"
                opacity=".4"
                rx="7.7"
                ry="5"
                transform="rotate(-25 447.7 830.2)"></ellipse>
            <path
                fill="none"
                stroke="#5b4068"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="10"
                d="M844.1 855.2h19.7M382.9 855.2h443.3M304.3 855.2h61.4M285.2 855.2h3.4"></path>
            <path
                fill="#fcfcfc"
                d="M759.5 351.8v-3.3c-.3-6.1-3-11.8-7.7-15.9a23.7 23.7 0 0 0-23.8-4.5 21.6 21.6 0 0 0-5.6-4.8c2.7-5 3.2-10.9.7-16.4a22.7 22.7 0 0 0-28.1-11.2 19.8 19.8 0 0 0-12.8 13.4c-2-1.2-4-2.2-6.2-2.9.2-3.5-.3-7.1-1.8-10.4a23.8 23.8 0 0 0-41-4.2c-.1-1.2-.3-2.4-.6-3.5v-.5c-1.4-5.4-4.8-10-9.4-12.7-4.7-2.8-10.1-3.5-15.3-2a20.6 20.6 0 0 0-12.3 9.9 19.5 19.5 0 0 0-16.9 0 21.6 21.6 0 0 0-11.2 24.9h-.4c-6-5.3-15-7.2-23.1-4.3a19.4 19.4 0 0 0-13.4 17.9 23.3 23.3 0 0 0-12.6 5c-6.7.8-13 4-17.5 9.5-4.2 5-6 11.2-5.5 17.2a22.9 22.9 0 0 0-9.2 14.2 24 24 0 0 0-21.8 13.1l-.2.5c-2.2 4.7-2.7 9.9-1.4 14.9 85.4-64 216.4-72 297-44Z"
                opacity=".3"></path>
        </g>
        <g data-name="text">
            <g fill="#5b4068">
                <path
                    d="M162 939.6h26.5l-5.9 29.7h-12l-2-6.6h-.4c-1.8 2-4 3.8-6.3 5.2a18.5 18.5 0 0 1-9.5 2.2c-3 0-6-.5-8.7-1.5s-5.2-2.6-7.4-4.7-3.8-5-5.1-8.5a46.4 46.4 0 0 1 .5-27.8 34.8 34.8 0 0 1 19.7-21.3c4.9-2 10.6-3.1 17.2-3.1 5 0 9.4.6 13.2 1.7 3.7 1.2 7.3 2.5 10.6 4l-3.9 19.8h-17.3a62 62 0 0 1 .6-6 1474 1474 0 0 1 .4-6.1l-.1-1.9-.6-2.1a4 4 0 0 0-1.2-1.7c-.5-.4-1.3-.7-2.3-.7-1.8 0-3.4.8-5 2.2s-2.7 3.5-3.9 5.9a50 50 0 0 0-3 8.2 108 108 0 0 0-3.8 29.2c0 1 .3 2 .7 3a7 7 0 0 0 1.6 2.6c.7.7 1.8 1 3.1 1 2.3 0 4.5-1.1 6.6-3.6 2-2.5 3.7-6.6 4.8-12.3h-8.6l1.5-6.9ZM213.7 948.7a41.6 41.6 0 0 0-.6 10l.5 2.1c.2.7.6 1.2 1 1.6.5.5 1 .7 2 .7.5 0 1.2-.2 2-.6.8-.4 1.6-1 2.4-1.7a15.5 15.5 0 0 0 4-6.5h16.7l-2.6 11a41.4 41.4 0 0 1-16.4 4.6l-5.9.2c-3.4 0-6.6-.3-9.5-1-3-.6-5.5-1.6-7.7-3.1s-3.9-3.5-5.1-6a20.4 20.4 0 0 1-2-9.3c0-3.3.6-6.6 1.6-9.8 1.1-3.2 2.9-6 5.4-8.6s5.8-4.4 10-6c4.2-1.4 9.5-2.2 15.7-2.2 6.9 0 12 1 15.5 3.2 3.4 2.1 5.1 5.4 5.1 10 0 1.8-.2 3.8-.8 6a16 16 0 0 1-2.4 5.4h-28.8Zm13.7-12.2c0-2.1-.4-3.6-1-4.3a3.2 3.2 0 0 0-2.5-1.2c-1.1 0-2.1.4-3 1.1a11 11 0 0 0-2.6 2.9 36 36 0 0 0-3.6 9h11.7l.4-2.6a34.4 34.4 0 0 0 .6-5ZM274.9 931.8c1.4-1.4 3-2.7 4.8-3.8 1.6-1 3.4-1.9 5.5-2.7 2.2-.8 4.5-1.2 7.1-1.2 3.6 0 6.5.9 8.8 2.7a9 9 0 0 1 3.5 7.4l-.3 3.3a88 88 0 0 1-1.6 8l-.8 3.8-4.3 20h-20.8l5.7-26.8.5-2.7.3-2.5a4 4 0 0 0-.8-2.5c-.5-.6-1.3-1-2.3-1-1.2 0-2.4.5-3.5 1.4l-2.6 2.2-6.8 31.9h-20.9l9.3-44h16.7l1.9 6.5h.6ZM327.3 969.3h-20.9l9.4-44h21l-9.6 44Zm12.1-57.5c0 1.6-.3 3-1 4.1a9.7 9.7 0 0 1-2.5 3 11 11 0 0 1-3.6 1.8c-1.4.4-2.8.6-4.2.6-2.8 0-5-.6-6.9-2-1.8-1.2-2.8-3.3-2.8-6 0-1.6.4-3 1-4.1a8.5 8.5 0 0 1 2.5-3c1-.8 2.3-1.4 3.7-1.8 1.4-.4 2.8-.6 4.3-.6 2.7 0 5 .6 6.8 2 1.8 1.2 2.7 3.3 2.7 6ZM359.8 948.7a41.6 41.6 0 0 0-.6 10c0 .8.2 1.5.5 2.1.2.7.6 1.2 1 1.6.4.5 1 .7 1.9.7.6 0 1.3-.2 2.1-.6.8-.4 1.6-1 2.4-1.7a15.5 15.5 0 0 0 3.9-6.5h16.8l-2.7 11c-1.3.8-2.9 1.6-4.7 2.2a41.4 41.4 0 0 1-11.6 2.3l-5.9.3c-3.4 0-6.6-.3-9.5-1-3-.6-5.5-1.6-7.7-3.1s-3.9-3.5-5.2-6a20.4 20.4 0 0 1-1.9-9.3c0-3.3.6-6.6 1.6-9.8 1-3.2 2.9-6 5.4-8.6s5.8-4.4 10-6c4.2-1.4 9.4-2.2 15.7-2.2 6.9 0 12 1 15.5 3.2 3.4 2.1 5.1 5.4 5.1 10 0 1.8-.2 3.8-.8 6a16 16 0 0 1-2.5 5.4H360Zm13.6-12.2c0-2.1-.3-3.6-1-4.3a3.2 3.2 0 0 0-2.4-1.2c-1.1 0-2.1.4-3 1.1a11 11 0 0 0-2.6 2.9 36 36 0 0 0-3.6 9h11.7l.4-2.6a34.4 34.4 0 0 0 .6-5ZM397.7 925.2c2.6-.5 4.8-1.2 6.7-1.8a26.4 26.4 0 0 0 9.9-6.4c1.5-1.5 3-3.3 4.7-5.5h10.6l-3 13.7h8l-1.3 6.9h-8.1l-4.2 20a97.4 97.4 0 0 0-1.1 7c0 1.4.5 2.3 1.5 2.6 1 .3 2.8.5 5.5.5l-1.5 7c-.5.2-1.2.3-2.2.4a154.6 154.6 0 0 0-7 .5H413c-1.7 0-3.4-.1-5-.4a13 13 0 0 1-4.4-1.4 8 8 0 0 1-3.2-3.1 11 11 0 0 1-1.1-5.5 39 39 0 0 1 .8-7.2l4.3-20.4h-8l1.4-6.9ZM480.2 931.8c1.4-1.4 3-2.7 4.8-3.8 1.6-1 3.5-1.9 5.6-2.7 2.2-.8 4.7-1.2 7.4-1.2 3.3 0 5.7.7 7.3 2.2a8.4 8.4 0 0 1 2.7 5.6h.7a36.5 36.5 0 0 1 10.6-6.6c2.1-.8 4.4-1.2 6.8-1.2 3.5 0 6.4 1 8.6 3 2.2 1.9 3.4 4.4 3.4 7.4 0 1.6-.3 3.7-.9 6.3l-1.8 8.5-4.3 20h-20.2l5.5-26.8.7-3 .3-2.3c0-1-.3-1.8-.9-2.4-.5-.7-1.3-1-2.3-1-1.3 0-2.5.5-3.7 1.4l-2.6 2.3-6.6 31.8H482l5.6-26.8.6-2.7.3-2.5a4 4 0 0 0-.8-2.5c-.5-.7-1.3-1-2.3-1-1.2 0-2.4.5-3.5 1.4-1.2.8-2 1.6-2.7 2.2l-6.7 31.9h-21l9.4-44h16.7l1.8 6.5h.7ZM563.3 948.7a41.6 41.6 0 0 0-.6 10c0 .8.2 1.5.4 2.1.3.7.6 1.2 1 1.6.5.5 1.1.7 2 .7.6 0 1.3-.2 2-.6.8-.4 1.6-1 2.4-1.7a15.5 15.5 0 0 0 4-6.5h16.8l-2.7 11c-1.4.8-3 1.6-4.7 2.2a41.4 41.4 0 0 1-11.7 2.3l-5.8.3c-3.4 0-6.6-.3-9.6-1-2.9-.6-5.5-1.6-7.6-3.1-2.2-1.5-4-3.5-5.2-6a20.4 20.4 0 0 1-2-9.3c0-3.3.6-6.6 1.7-9.8 1-3.2 2.8-6 5.3-8.6s5.9-4.4 10-6c4.3-1.4 9.5-2.2 15.8-2.2 6.8 0 12 1 15.4 3.2 3.5 2.1 5.2 5.4 5.2 10 0 1.8-.3 3.8-.8 6a16 16 0 0 1-2.5 5.4h-28.8Zm13.6-12.2c0-2.1-.3-3.6-1-4.3a3.2 3.2 0 0 0-2.5-1.2c-1 0-2 .4-3 1.1a11 11 0 0 0-2.5 2.9 36 36 0 0 0-3.6 9H576l.4-2.6a34.4 34.4 0 0 0 .5-5ZM601.2 925.2c2.5-.5 4.7-1.2 6.7-1.8a26.4 26.4 0 0 0 9.8-6.4c1.5-1.5 3.1-3.3 4.8-5.5h10.6l-3 13.7h8l-1.4 6.9h-8l-4.3 20a84.2 84.2 0 0 0-1 7c0 1.4.4 2.3 1.4 2.6 1 .3 2.9.5 5.6.5l-1.6 7c-.4.2-1.2.3-2.2.4a154.6 154.6 0 0 0-7 .5h-3.3c-1.7 0-3.3-.1-5-.4a13 13 0 0 1-4.4-1.4 8 8 0 0 1-3.1-3.1 11 11 0 0 1-1.2-5.5 39 39 0 0 1 .8-7.2l4.3-20.4h-8l1.5-6.9ZM683 947.8l-4.7 21.5h-22.1l13.8-65h23.7c3.9 0 7.4.1 10.7.5 3.2.4 6 1.3 8.3 2.5 2.3 1.2 4 3 5.4 5.3 1.3 2.3 2 5.3 2 9.1 0 3.6-.6 7-1.8 10.1a22.4 22.4 0 0 1-15 14c-4 1.3-8.8 2-14.5 2h-5.9Zm6-6.6c2.1 0 3.9-.9 5.3-2.6 1.4-1.7 2.5-3.8 3.4-6.2a38.7 38.7 0 0 0 2.7-14.7c0-1.8-.3-3.4-1-4.6-.6-1.3-2-2-4-2h-4.6l-6.4 30.1h4.7ZM750 924c8 0 14 1.5 17.7 4.4 3.9 3 5.8 8 5.8 15 0 4.3-.7 8.1-2.1 11.6a22.6 22.6 0 0 1-6 8.5c-5.3 4.4-12.8 6.6-22.6 6.6-8.4 0-14.4-1.6-18-4.8-4-3.4-5.9-8.4-5.9-15 0-4.5.9-8.5 2.7-12.2 1.8-3.6 4.4-6.6 7.9-9 5-3.3 11.8-5 20.4-5Zm-7 39.1c1.7 0 3.2-1 4.4-2.9 1.3-1.9 2.3-4.2 3-7a63.7 63.7 0 0 0 2.3-16.3c0-2-.2-3.4-.6-4.4-.3-1-1.1-1.5-2.4-1.5-1.8 0-3.4 1-4.7 3a26 26 0 0 0-3.3 7 52.5 52.5 0 0 0-2.3 15.5c0 4.4 1.2 6.6 3.6 6.6ZM792.8 986.5h-21l13-61.3h16.7l1.8 6.6h.6c2.5-2.6 5.2-4.5 8.3-5.6 3-1.1 6-1.7 9-1.7 2.3 0 4.3.4 6 1a10 10 0 0 1 5.8 7.4c.4 1.7.6 3.5.6 5.4a70 70 0 0 1-1.1 10.7 53 53 0 0 1-2 7.3c-1 2.5-2.1 4.8-3.6 6.8-1.4 2-3.3 3.7-5.5 5-2.2 1.3-4.9 2-8 2a20.5 20.5 0 0 1-9.3-2.3c-1.3-.6-2.4-1.4-3.4-2.4-1-.9-1.7-1.8-2.2-2.8h-.6l-5.1 23.9Zm10.8-26.3c1.7 0 3-1 4.1-2.7 1.1-1.7 2-3.8 2.7-6.1a48.1 48.1 0 0 0 2-12.4c0-1.3-.3-2.5-.7-3.3-.5-1-1.3-1.4-2.4-1.4-1.3 0-2.6.5-3.7 1.4-1.2 1-2 1.7-2.6 2.4l-4 18.8c.6.7 1.2 1.5 2 2.2.7.7 1.6 1 2.6 1ZM881.9 966.8c-2.9 1.2-6 2-9 2.5-3.3.5-6.9.8-10.9.8-3.5 0-6.8-.4-9.8-1a22 22 0 0 1-7.7-3.5 16.2 16.2 0 0 1-5.1-6.1c-1.3-2.5-1.9-5.5-1.9-9s.6-7.2 2-10.4c1.2-3.2 3.1-6 5.7-8.3a27 27 0 0 1 9.7-5.7 54.6 54.6 0 0 1 25.7-1c3.3.8 6 2.4 8.1 5l-2.8 13h-14a381.9 381.9 0 0 1 .4-6c0-2.2-.3-3.7-.8-4.7-.4-.9-1.2-1.3-2.3-1.3-2 0-3.6 1-5 2.8a24.4 24.4 0 0 0-3.6 6.8 46 46 0 0 0-2.1 20.2c.2.7.5 1.2 1 1.6s1 .6 1.7.6 1.4-.2 2.3-.6c1-.4 1.8-1 2.6-1.9.8-.8 1.6-2 2.4-3.3a18 18 0 0 0 1.7-5h14.6l-3 14.5ZM922 924c8.2 0 14 1.5 17.8 4.4 3.9 3 5.8 8 5.8 15 0 4.3-.7 8.1-2.1 11.6a22.6 22.6 0 0 1-6 8.5c-5.3 4.4-12.8 6.6-22.6 6.6-8.4 0-14.4-1.6-18-4.8-4-3.4-5.9-8.4-5.9-15 0-4.5.9-8.5 2.7-12.2 1.8-3.6 4.4-6.6 7.9-9 5-3.3 11.8-5 20.4-5Zm-7 39.1c1.8 0 3.3-1 4.5-2.9 1.3-1.9 2.3-4.2 3-7a63.7 63.7 0 0 0 2.3-16.3c0-2-.2-3.4-.6-4.4-.3-1-1.1-1.5-2.4-1.5-1.8 0-3.4 1-4.7 3a26 26 0 0 0-3.3 7 52.5 52.5 0 0 0-2.3 15.5c0 4.4 1.2 6.6 3.6 6.6ZM957 925.2h16.7l1.5 7.7h.7a22 22 0 0 1 6-6.3 16.7 16.7 0 0 1 11-2.5c.7 0 1.3.2 2 .3.8.2 1.5.4 2.3.8.8.3 1.5.7 2.3 1.2l-4.5 21.1h-11.2a32 32 0 0 0-1.1-8.8c-.6-1.7-1.6-2.5-3-2.5-.7 0-1.4.1-2.2.4s-1.6 1-2.4 2l-6.6 30.7h-20.9l9.4-44ZM1025.6 931.8a33 33 0 0 1 4.8-3.8c1.6-1 3.4-1.9 5.6-2.7 2-.8 4.4-1.2 7-1.2 3.6 0 6.5.9 8.8 2.7a9 9 0 0 1 3.5 7.4c0 1 0 2-.3 3.3a130.2 130.2 0 0 1-2.4 11.8l-4.3 20h-20.8l5.7-26.8.5-2.7.3-2.5a4 4 0 0 0-.8-2.5c-.5-.6-1.3-1-2.3-1-1.2 0-2.4.5-3.5 1.4l-2.6 2.2-6.8 31.9h-20.9l9.3-44h16.7l1.9 6.5h.6Z"
                ></path>
            </g>
            <g fill="#f15c62">
                <path
                    d="M169.4 938.3H196l-6 29.7h-12l-2-6.5h-.4c-1.8 2-3.9 3.8-6.3 5.2a18.5 18.5 0 0 1-9.5 2.1c-3 0-5.9-.5-8.7-1.5s-5.2-2.5-7.3-4.7-4-5-5.2-8.4a46.4 46.4 0 0 1 .5-27.8 34.8 34.8 0 0 1 19.7-21.3c4.9-2.1 10.6-3.2 17.2-3.2 5 0 9.5.6 13.2 1.8 3.8 1.1 7.3 2.4 10.7 3.9l-4 19.8h-17.2a62 62 0 0 1 .6-5.9 1474 1474 0 0 1 .3-6.2l-.1-1.8c0-.8-.2-1.5-.5-2.1a4 4 0 0 0-1.2-1.7c-.6-.5-1.4-.7-2.4-.7-1.8 0-3.4.7-4.9 2.2s-2.8 3.4-4 5.8a50 50 0 0 0-3 8.3 108 108 0 0 0-3.8 29.2c0 1 .3 2 .7 3a7 7 0 0 0 1.6 2.6c.8.7 1.8 1 3.2 1 2.2 0 4.4-1.2 6.5-3.7 2.1-2.4 3.7-6.5 4.8-12.2H168l1.6-7ZM221.2 947.4a41.6 41.6 0 0 0-.6 10c0 .8.2 1.5.4 2.2.3.6.6 1.2 1 1.6.5.4 1.1.7 2 .7.6 0 1.3-.2 2-.7.8-.4 1.6-1 2.4-1.7a15.5 15.5 0 0 0 4-6.5h16.8l-2.7 11c-1.4.9-3 1.6-4.7 2.3a41.4 41.4 0 0 1-11.7 2.3l-5.8.2c-3.4 0-6.6-.3-9.5-.9-3-.6-5.5-1.7-7.7-3.2-2.2-1.5-4-3.5-5.2-6a20.4 20.4 0 0 1-1.9-9.2c0-3.4.5-6.6 1.6-9.9 1-3.2 2.8-6 5.3-8.5s5.9-4.5 10-6c4.3-1.5 9.5-2.3 15.8-2.3 6.8 0 12 1.1 15.4 3.2 3.5 2.1 5.2 5.5 5.2 10 0 1.8-.3 3.8-.8 6a16 16 0 0 1-2.5 5.4h-28.8Zm13.6-12.2c0-2-.3-3.5-1-4.3a3.2 3.2 0 0 0-2.5-1.1c-1 0-2 .4-3 1a11 11 0 0 0-2.5 3 36 36 0 0 0-3.6 9H234l.4-2.6a34.4 34.4 0 0 0 .5-5ZM282.4 930.5c1.4-1.4 3-2.6 4.8-3.8 1.5-1 3.4-1.8 5.5-2.6s4.5-1.3 7-1.3c3.6 0 6.6 1 8.9 2.8a9 9 0 0 1 3.4 7.4c0 .9 0 2-.3 3.2a88 88 0 0 1-1.6 8.1l-.7 3.7-4.3 20h-20.8l5.6-26.7.5-2.7.3-2.5a4 4 0 0 0-.7-2.5c-.6-.7-1.3-1-2.4-1-1.2 0-2.4.4-3.5 1.3l-2.6 2.3-6.8 31.8H254l9.3-44h16.7l1.8 6.5h.6ZM334.7 968h-20.8l9.3-44h21l-9.5 44Zm12.2-57.5c0 1.6-.3 3-1 4.1a9.7 9.7 0 0 1-2.5 3 11 11 0 0 1-3.7 1.9c-1.4.4-2.8.6-4.2.6-2.7 0-5-.7-6.8-2-1.9-1.3-2.8-3.3-2.8-6.1 0-1.5.3-2.9 1-4a8.5 8.5 0 0 1 2.4-3c1-.8 2.3-1.4 3.7-1.8 1.4-.4 2.9-.7 4.4-.7 2.6 0 4.9.7 6.7 2 1.9 1.3 2.8 3.3 2.8 6ZM367.3 947.4a41.6 41.6 0 0 0-.6 10c0 .8.2 1.5.4 2.2.3.6.6 1.2 1 1.6.5.4 1.1.7 2 .7.5 0 1.2-.2 2-.7.8-.4 1.6-1 2.4-1.7a15.5 15.5 0 0 0 4-6.5h16.7l-2.6 11c-1.4.9-3 1.6-4.7 2.3a41.4 41.4 0 0 1-11.7 2.3l-5.8.2c-3.5 0-6.6-.3-9.6-.9-3-.6-5.5-1.7-7.6-3.2-2.2-1.5-4-3.5-5.2-6a20.4 20.4 0 0 1-2-9.2c0-3.4.6-6.6 1.7-9.9 1-3.2 2.8-6 5.3-8.5s5.8-4.5 10-6 9.5-2.3 15.8-2.3c6.8 0 12 1.1 15.4 3.2 3.4 2.1 5.2 5.5 5.2 10 0 1.8-.3 3.8-.9 6a16 16 0 0 1-2.4 5.4h-28.8Zm13.6-12.2c0-2-.3-3.5-1-4.3a3.2 3.2 0 0 0-2.5-1.1c-1 0-2 .4-3 1a11 11 0 0 0-2.5 3 36 36 0 0 0-3.6 9H380l.4-2.6a34.4 34.4 0 0 0 .5-5ZM405.2 924c2.5-.6 4.7-1.2 6.6-1.9a26.4 26.4 0 0 0 10-6.3c1.4-1.5 3-3.4 4.7-5.6H437l-3 13.8h8l-1.3 6.8h-8l-4.3 20a97.4 97.4 0 0 0-1 7c0 1.5.4 2.3 1.4 2.6 1 .4 2.9.6 5.6.6l-1.6 7a154.6 154.6 0 0 0-9.2.8h-3.3c-1.7 0-3.3 0-5-.3a13 13 0 0 1-4.4-1.4 8 8 0 0 1-3.1-3.2 11 11 0 0 1-1.2-5.5 39 39 0 0 1 .8-7.2l4.3-20.3h-8l1.5-7ZM487.6 930.5c1.5-1.4 3-2.6 4.9-3.8 1.5-1 3.4-1.8 5.6-2.6 2.2-.8 4.6-1.3 7.4-1.3 3.2 0 5.7.8 7.3 2.3a8.4 8.4 0 0 1 2.7 5.5h.6a36.5 36.5 0 0 1 10.7-6.5c2-.8 4.3-1.3 6.7-1.3 3.6 0 6.5 1 8.7 3 2.2 2 3.3 4.4 3.3 7.5 0 1.6-.3 3.6-.8 6.2l-1.9 8.5-4.3 20h-20.1l5.5-26.7.6-3 .3-2.4c0-1-.3-1.7-.8-2.4-.6-.6-1.3-1-2.4-1-1.3 0-2.5.5-3.6 1.4-1.1 1-2 1.7-2.6 2.4l-6.7 31.7h-19.1l5.6-26.7.5-2.7.3-2.5a4 4 0 0 0-.8-2.6c-.5-.6-1.2-1-2.3-1-1.2 0-2.4.5-3.5 1.4-1.1.9-2 1.6-2.6 2.3L480 968h-20.9l9.4-44h16.7l1.8 6.5h.6ZM570.7 947.4a41.6 41.6 0 0 0-.6 10c0 .8.2 1.5.5 2.2.2.6.6 1.2 1 1.6.4.4 1 .7 1.9.7.6 0 1.3-.2 2.1-.7.8-.4 1.6-1 2.4-1.7a15.5 15.5 0 0 0 3.9-6.5h16.8l-2.7 11c-1.3.9-2.9 1.6-4.7 2.3a41.4 41.4 0 0 1-11.6 2.3l-5.9.2c-3.4 0-6.6-.3-9.5-.9-3-.6-5.5-1.7-7.7-3.2-2.2-1.5-3.9-3.5-5.2-6a20.4 20.4 0 0 1-1.9-9.2c0-3.4.6-6.6 1.6-9.9 1-3.2 2.9-6 5.4-8.5s5.8-4.5 10-6 9.4-2.3 15.7-2.3c6.9 0 12 1.1 15.5 3.2 3.4 2.1 5.1 5.5 5.1 10 0 1.8-.2 3.8-.8 6a16 16 0 0 1-2.5 5.4h-28.7Zm13.6-12.2c0-2-.3-3.5-1-4.3a3.2 3.2 0 0 0-2.4-1.1c-1.1 0-2.1.4-3 1a11 11 0 0 0-2.6 3 36 36 0 0 0-3.6 9h11.7l.4-2.6a34.4 34.4 0 0 0 .6-5ZM608.6 924c2.6-.6 4.8-1.2 6.7-1.9a26.4 26.4 0 0 0 9.9-6.3c1.4-1.5 3-3.4 4.7-5.6h10.6l-3 13.8h8l-1.3 6.8H636l-4.2 20a84.2 84.2 0 0 0-1.1 7c0 1.5.4 2.3 1.4 2.6 1 .4 2.9.6 5.6.6l-1.5 7a154.6 154.6 0 0 0-9.2.8h-3.3c-1.7 0-3.4 0-5-.3a13 13 0 0 1-4.4-1.4 8 8 0 0 1-3.2-3.2 11 11 0 0 1-1.1-5.5 39 39 0 0 1 .8-7.2l4.3-20.3h-8l1.4-7ZM690.4 946.5l-4.6 21.5h-22.2l13.9-65H701c4 0 7.5.2 10.7.6 3.2.4 6 1.2 8.3 2.4 2.3 1.3 4.1 3 5.4 5.3 1.3 2.3 2 5.4 2 9.2 0 3.5-.6 7-1.7 10s-3 6-5.5 8.4a26.2 26.2 0 0 1-9.6 5.6c-4 1.3-8.8 2-14.5 2h-5.8Zm6.1-6.6c2 0 3.8-.8 5.2-2.5 1.4-1.7 2.6-3.8 3.5-6.3a38.7 38.7 0 0 0 2.6-14.6c0-1.9-.3-3.4-1-4.7-.5-1.2-1.9-1.9-4-1.9h-4.5l-6.5 30h4.7ZM757.4 922.8c8.1 0 14 1.5 17.7 4.3 3.9 3 5.8 8 5.8 15 0 4.3-.7 8.2-2.1 11.6a22.6 22.6 0 0 1-6 8.6c-5.2 4.4-12.7 6.5-22.6 6.5-8.4 0-14.4-1.6-18-4.8-4-3.3-5.9-8.3-5.9-15 0-4.5 1-8.5 2.8-12.1 1.8-3.6 4.4-6.6 7.8-9 5-3.4 11.8-5 20.5-5Zm-7 39c1.7 0 3.2-.9 4.5-2.8 1.2-2 2.2-4.3 3-7a63.7 63.7 0 0 0 2.2-16.4c0-1.9-.2-3.3-.5-4.3-.4-1-1.2-1.5-2.4-1.5-1.9 0-3.5 1-4.8 3a26 26 0 0 0-3.2 7 52.5 52.5 0 0 0-2.4 15.4c0 4.4 1.2 6.7 3.6 6.7ZM800.2 985.2h-20.9l13-61.2h16.6l1.9 6.5h.6c2.4-2.6 5.2-4.4 8.2-5.6 3-1 6-1.6 9-1.6 2.4 0 4.4.3 6 1a10 10 0 0 1 5.9 7.4c.4 1.7.6 3.5.6 5.4a70 70 0 0 1-1.2 10.7 53 53 0 0 1-2 7.3c-.9 2.5-2 4.7-3.5 6.8-1.5 2-3.3 3.7-5.6 5-2.2 1.3-4.8 2-8 2a20.5 20.5 0 0 1-9.2-2.3c-1.3-.7-2.5-1.5-3.5-2.4-1-1-1.7-1.9-2.2-2.8h-.6l-5 23.8Zm10.9-26.3c1.6 0 3-.9 4-2.6 1.2-1.7 2-3.8 2.7-6.2a48.1 48.1 0 0 0 2-12.3c0-1.4-.2-2.5-.7-3.4-.4-.9-1.2-1.3-2.4-1.3-1.3 0-2.5.4-3.7 1.4-1.2.9-2 1.7-2.6 2.4l-4 18.7c.6.8 1.2 1.5 2 2.2.7.7 1.6 1.1 2.7 1.1ZM889.3 965.6c-2.8 1.1-5.9 2-9 2.5-3.2.5-6.8.7-10.8.7-3.6 0-6.9-.3-9.8-1a22 22 0 0 1-7.8-3.5 16.2 16.2 0 0 1-5-6c-1.3-2.6-2-5.6-2-9.1s.7-7.2 2-10.3c1.2-3.2 3.2-6 5.7-8.4a27 27 0 0 1 9.8-5.6 54.6 54.6 0 0 1 25.7-1c3.3.7 6 2.4 8.1 4.9l-2.9 13.1h-13.9a381.9 381.9 0 0 1 .3-6c0-2.2-.2-3.8-.7-4.7-.5-1-1.3-1.4-2.4-1.4-1.9 0-3.6 1-5 2.8a24.4 24.4 0 0 0-3.5 6.8 46 46 0 0 0-2.2 20.2c.3.7.6 1.3 1 1.7s1 .6 1.7.6 1.5-.2 2.4-.6c.9-.4 1.7-1 2.5-2 .9-.8 1.6-1.9 2.4-3.3a18 18 0 0 0 1.7-4.9h14.7l-3 14.5ZM929.5 922.8c8.1 0 14 1.5 17.7 4.3 3.9 3 5.8 8 5.8 15 0 4.3-.7 8.2-2.1 11.6a22.6 22.6 0 0 1-6 8.6c-5.2 4.4-12.7 6.5-22.6 6.5-8.4 0-14.4-1.6-18-4.8-3.9-3.3-5.8-8.3-5.8-15 0-4.5.9-8.5 2.7-12.1 1.8-3.6 4.4-6.6 7.8-9 5-3.4 11.8-5 20.5-5Zm-7 39c1.7 0 3.2-.9 4.5-2.8 1.2-2 2.3-4.3 3-7a63.7 63.7 0 0 0 2.3-16.4c0-1.9-.2-3.3-.6-4.3-.4-1-1.2-1.5-2.4-1.5-1.9 0-3.4 1-4.8 3a26 26 0 0 0-3.2 7 52.5 52.5 0 0 0-2.4 15.4c0 4.4 1.2 6.7 3.6 6.7ZM964.4 924h16.7l1.6 7.6h.7a22 22 0 0 1 6-6.2 16.7 16.7 0 0 1 11-2.5l2 .3 2.2.7c.8.3 1.6.7 2.3 1.3l-4.5 21h-11.2a32 32 0 0 0-1-8.8c-.7-1.6-1.7-2.5-3-2.5-.7 0-1.5.2-2.3.5s-1.5 1-2.4 2L976 968h-21l9.4-44ZM1033 930.5a33 33 0 0 1 4.9-3.8c1.5-1 3.4-1.8 5.5-2.6s4.5-1.3 7-1.3c3.6 0 6.6 1 8.9 2.8a9 9 0 0 1 3.5 7.4l-.3 3.2a130.2 130.2 0 0 1-2.4 11.8l-4.3 20H1035l5.6-26.7.5-2.7c.2-1 .4-1.8.4-2.5a4 4 0 0 0-.8-2.5c-.5-.7-1.3-1-2.3-1-1.3 0-2.4.4-3.6 1.3l-2.6 2.3-6.7 31.8h-21l9.4-44h16.7l1.8 6.5h.6Z"
                ></path>
            </g>
        </g>
        <g data-name="objects">
            <path
                fill="none"
                stroke="#e5b572"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="5"
                d="M820.5 361c6.3 0 11.4 5 11.4 11.4M358.7 446.1a23 23 0 0 1 23 23M858 514.5c6.3 0 11.4 5.1 11.4 11.4M829.7 621.9c0 10-8.1 18-18.1 18M423.8 372.6a11.4 11.4 0 1 1-11.4-11.4M821 546.6a11.4 11.4 0 1 1-11.3-11.4M363.1 700a18.7 18.7 0 1 1 0-26.4M412.4 582.8a11.4 11.4 0 1 1 11.4-11.4M864.3 703.3a18.8 18.8 0 1 1 26.6 0"
                opacity=".5"></path>
            <path
                fill="#e5b572"
                d="M329.3 598.5a10 10 0 1 1 0-20 10 10 0 0 1 0 20Zm0-10Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0ZM863.8 456.1a10 10 0 1 1 0-20 10 10 0 0 1 0 20Zm0-10Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0ZM422.9 733.8a10 10 0 1 1 0-20 10 10 0 0 1 0 20Zm0-10Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0ZM801.8 743.8a10 10 0 1 1 0-20 10 10 0 0 1 0 20Zm0-10Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Zm0 0Z"
                opacity=".5"></path>
        </g>
    </svg>
</BaseLayout>

<style>
    svg {
        --r: 1/1;

        place-self: center;
        width: min(100vw, var(--r) * 100vh);

        /* may set height the same way *
	         height: min(100vh, 100vw/(var(--r)));
	      
           /* or even better, aspect-ratio */
        aspect-ratio: var(--r);
    }
</style>
